<div ng-controller="CheckinsController">
<md-dialog aria-label="Checkin your invitees" 
    style="border-radius: 12px;min-width: 600px; max-height:400px" class="checkinUser">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Checkin your invitees</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="min-width: 600px; max-height:400px">
      <div class="md-dialog-content">

        <div class="row" style="margin-bottom:-15px">
          <div class="col s12">
            <div class="col s4">
              <input type="checkbox" class="filled-in" ng-model="checkinUser" id="all" />
              <label for="all">Select All</label>
              <p></p>
            </div>
            <div class="col s8">
            </div>
          </div>
        </div>

        <div ng-repeat="user in users" style="margin-bottom:-12px"
             class="user" id="{{user.regUser}}">
          <div class="row" style="margin-bottom:-12px">
            <div class="col s12" style="margin-bottom:-12px">

              <div class="col s4">
                <input type="checkbox" 
                       ng-change="sync(bool, user)" 
                       ng-model="bool" 
                       ng-checked="isChecked(user.regUser)" 
                       id="{{$index}}" />
                <label for="{{$index}}">
                  {{user.firstname}} {{user.lastname}} {{bool}} 
                </label>
              </div>

              <div class="col s8 animated fadeIn delayAnimate">
                <input id="description{{$index+1}}" type="text" 
                       ng-readonly="!bool"
                       placeholder="Description" style="margin-top:-11px">
                
              </div>

            </div>
          </div>
        </div>
        <div>
          <pre>{{data | json}}</pre>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
       cancel
      </md-button>
      <md-button ng-click="answer()">
        add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
</div>

<script type="text/javascript">
$('input[type=checkbox]:checked');
</script>