body {
    overflow-y: hidden !important
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif !important;
}

main {
    flex: 1 0 auto;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(42, 166, 202) !important;
    color: rgb(255,255,255) !important;
}

md-toolbar {
    box-sizing: border-box !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    flex-direction: column !important;
    position: relative !important;
    z-index: 2 !important;
    font-size: 20px !important;
    min-height: 34px !important;
    width: 100% !important;
}

.md-toolbar-tools {
    font-size: 14px !important;
    letter-spacing: 0.005em !important;
    box-sizing: border-box !important;
    font-weight: 400 !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    flex-direction: row !important;
    width: 100% !important;
    height: 34px !important;
    max-height: 34px !important;
    padding: 0 16px !important;
    margin: 0 !important;
}

md-dialog .md-dialog-content {
    padding: 14px !important;
    font-size: 14px !important;
    min-width: 400px !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:   #bde9f6 !important;
    opacity: 1 !important;
}

footer.page-footer {
    margin-top: 20px !important;
    padding-top: 10px !important;
}

footer.page-footer .footer-copyright {
    overflow: hidden !important;
    height: 30px !important;
    line-height: 30px !important;
}

/* This css part is for disable animate.css delay */
.delayAnimate.ng-animate { transition:0s none;
       -webkit-transition:0s none;
       animation: 0s none;
       -webkit-animation: 0s none; 
}


md-toast {
  max-height: 110px;
  top: 60px;
  /*left: calc(50vw - 150px);*/
}

nav .input-field {
  height: 35px !important;
}

.input-field input[type=search] {
  display: block !important;
  line-height: 35px !important;
  padding-left: 4rem !important;
  width: calc(100% - 4rem) !important;
  font-family: 'Titillium Web', sans-serif !important;
}

nav .input-field input {
  height: 35px !important;
  font-size: 1rem !important;
  border: none !important;
  padding-left: 2rem !important;
  font-family: 'Titillium Web', sans-serif !important;
}

nav .input-field label {
  line-height: 35px !important;
  height: 35px !important;
}

nav .nav-wrapper i {
  line-height: 35px !important;
  height: 35px !important;
}

.form-base {
  padding-top: 20px;
}

.modal-background {
  background-color: #fff !important;
  color: #c27491 !important;
}

.modal-label {
  color: #c9cfce !important;
}

.modal-form {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

.modal-title {
  background-color: #2ea6c8 !important;
  border: 1px solid #039be4 !important;
  color: #fff !important;
}

.title {
  font-weight:300;
  font-size: 1.2rem;
}

.fa-icon {
  padding-right: 5px;
  vertical-align: -3% !important;
}

.fa-icon-right {
  padding-left: 10px;
  vertical-align: -3% !important;
}

.icon-color {
  color: #999 !important;
}

.meeting-table-title {
  background-color: #dcdcdc !important;
}

.meeting-data-table {
  font-size: .85em;
  padding: 15px !important;
  height: 20px !important;
  line-height: 20px !important;
}

.meeting-data-table i {
  margin-left: 5px !important;
}

.meeting-table {
  border-radius: 10%;
}

/*input:not([type]), input[type=search] {
    border: none !important;
    border-bottom: 1px solid #9e9e9e !important;
    outline: none;
    height: 3rem !important;
    width: 100% !important;
    font-size: 1rem !important;
    margin: 0 0 20px 0 !important;
    padding: 0 !important;
}*/

.meeting-title {
  font-weight:300;
  font-size: 1.2rem;
  margin-left: 10px;
}

.meeting-nav {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 45px;
  line-height: 45px;
}

.brand-logo-own{
	font-weight:300;
  font-size: 1.5rem;
  margin-left: 20px;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}