body {
    overflow-y: hidden !important
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Titillium Web', sans-serif !important;
}

main {
    flex: 1 0 auto;
}

md-toast {
  max-height: 110px;
  top: 60px;
  /*left: calc(50vw - 150px);*/
}

.form-base {
  padding-top: 20px;
}

.modal-background {
  background-color: #fff !important;
  color: #d4b24f !important;
}

.modal-label {
  color: #c9cfce !important;
}

.modal-form {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
}

.modal-title {
  background-color: #80cbc4 !important;
  border: 1px solid #6fc5bd !important;
  color: #fff !important;
}

.title {
  font-weight:300;
  font-size: 1.2rem;
}

.icon-color {
  color: #999 !important;
}

.meeting-table-title {
  background-color: #cfcfcf !important;
  
}

.meeting-data-table {
  font-size: .85em;
  padding: 15px !important;
}

.meeting-table {
  border-radius: 10%;
}

.meeting-title {
  font-weight:300;
  font-size: 1.2rem;
  margin-left: 10px;
}

.meeting-nav {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 45px;
  line-height: 45px;
}

.brand-logo-own{
	font-weight:300;
  font-size: 1.5rem;
  margin-left: 20px;
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}