<br>
<div ng-hide="signedIn()" class="center">
  <h3>Sorry</h3>
  <p>Only registered users can create and manage meetings.</p>
  <p>Please <a ng-href="#/register">Register</a> or <a ng-href="#/login">Login</a></p>
</div>

<div ng-show="signedIn()" ng-controller="CheckinsController" class="delayAnimate">
<h5>Checkins and invitees</h5>
<p style="margin-top:-10px;color:#999">you can invite whomever you want</p>



<div class="row">
  <div class="col s12">
    <span class="flow-text">
      <nav class="sidenav-title1" style="background-color:{{themeColor3}}">
        <div class="nav-wrapper">

            <nav class="sidenav-title1" style="background-color:{{themeColor3}}">
              <div class="nav-wrapper">

                <nav class="search right right z-depth-0" 
                  style="height:35px;background-color:{{themeColor3}};margin-top:3px;margin-right:3px;width:200px;">
                    <div class="nav-wrapper">
                      
                        <div class="input-field">
                          <input type="search" ng-model="query" placeholder="search your term">
                          <label for="search">
                            <i class="material-icons" style="font-size:24px;">search</i>
                          </label>
                            <i class="material-icons" style="font-size:15px;" ng-click="query = ''">close</i>
                        </div>
                      
                    </div>
                </nav>

                <a href="#" data-activates="slide-out" class="button-collapse">
                  <i class="material-icons" style="margin-top:3px">menu</i>
                </a>
                <ul class="left hide-on-med-and-down">
                  <li class="sidenav-li" style="margin-top:-3px">
                    <a class="modal-trigger waves-effect waves-light" 
                       data-target="modal1" ng-click="queryCheck = ''">
                      <i class="fa fa-user-plus" aria-hidden="true"></i>
                      &nbsp Invite User
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px">
                    <a class="modal-trigger waves-effect waves-light" 
                       data-target="modal2">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                      &nbsp Meeting Details
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px" 
                      ng-show="isThereOne && !deleteAllModel">
                    <a class="waves-effect waves-light" 
                       ng-click="deleteAllCheckins(checkedList)">
                      <i class="fa fa-minus-circle" aria-hidden="true"></i>
                      &nbsp Delete All Invitees
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px" 
                      ng-show="isThereOne && deleteAllModel">
                    <a class="waves-effect waves-light" 
                       ng-click="deleteAllCheckinsExplainDialog($event, checkedList, themeColor3)">
                      <i class="fa fa-minus-circle" aria-hidden="true"></i>
                      &nbsp Delete All Invitees
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px">
                    <a href="" ng-href="#/record/{{whichuser}}/{{whichmeeting}}" 
                       class="waves-effect waves-light">
                      <i class="fa fa-archive" aria-hidden="true"></i>
                      &nbsp Record
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px">
                    <a ng-href="#/meetings" class="waves-effect waves-light">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                      &nbsp Meetings
                    </a>
                  </li>
                </ul>
<!-- -------------------------------Phone view -------------------------------- -->
                <ul id="slide-out" class="side-nav">
                  <li class="sidenav-li" style="margin-top:10px">
                    <a class="modal-trigger waves-effect waves-light" 
                       data-target="modal1" ng-click="queryCheck = ''">
                      <i class="fa fa-user-plus" aria-hidden="true" 
                      style="margin-top:7px;margin-right:5px;"></i>
                          &nbsp Invite User
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px">
                    <a class="modal-trigger waves-effect waves-light" 
                       data-target="modal2">
                      <i class="fa fa-bars" aria-hidden="true"
                      style="margin-top:7px;margin-right:5px;"></i>
                      &nbsp Meeting Details
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px" ng-show="isThereOne">
                    <a class="waves-effect waves-light" ng-click="deleteAllCheckin()">
                      <i class="fa fa-minus-circle" aria-hidden="true"
                      style="margin-top:7px;margin-right:5px;"></i>
                      &nbsp Delete All Invitees
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px">
                    <a ng-href="#/meetings" class="waves-effect waves-light">
                      <i class="fa fa-chevron-left" aria-hidden="true"
                      style="margin-top:7px;margin-right:5px;"></i>
                      &nbsp Back to Meetings
                    </a>
                  </li>
                </ul>
              </div>
            </nav>

        </div>
      </nav>
    </span>
  </div>
</div>


<div class="col s12" style="margin-top:-10px">
  <div class="card horizontal">
    <div class="card-stacked">

      <div class="card-content">
        <div style="margin-top:-5px">
          <b>{{ meetingChecked.name }}</b>
        </div>
        <b class="right" style="color:#{{whichcolor}};margin-top:-20px">
          <div style="margin-top:2px;">
          <i ng-show="icon1" class="fa fa-check animated bounce delayAnimate" 
             aria-hidden="true"></i>
          <i ng-show="icon2" class="fa fa-bell-o animated shake delayAnimate" 
             aria-hidden="true"></i>
          <i ng-show="icon3" class="fa fa-times animated flash delayAnimate" 
             aria-hidden="true"></i>
          </div>
          <div style="margin-top:-17px;margin-left:12px">
            &nbsp&nbsp {{ meetingChecked.dateMeeting | date }}
          </div>
        </b>
      </div>
      <div class="card-action center" ng-hide="isThereOne">
        <p class="center" style="color:#b5b5b5;font-size:1.1em">Add users to your meeting...</p>
      </div>
      <div class="card-action" style="color: #6d6d6d" ng-show="isThereOne">

        <ul class="userlist cf" style="margin-left:5px;">
          <li ng-repeat="checked in checkedList | filter:query" 
              class="delayAnimate" 
              style="">
            <div class="checkin" 
                 style="position:relative;z-index:100">

                <div class="col s12 m7">
                  <div class="card horizontal">
                    <div class="card-image">
                      <img style="border-top-left-radius:12px;border-bottom-left-radius:12px;width:80px;max-width:80px;" 
                       src="images/personal_pics/{{checked.image}}.jpg">
                    </div>
                    <div class="card-stacked">

                      <div class="card-content">
                        <b style="font-size:1em">
                        {{ checked.firstname | capitalize }} 
                        {{ checked.lastname | capitalize }}
                        </b>
                        <div class="date">{{ checked.dateEnter | date }}</div>
                      </div>

                      <div class="card-action">
                        <a href="" style="margin-right:-8px;" 
                           ng-click="showDescription(checked)">
                            <span class="fa-stack fa-lg" style="margin-top:2px">
                              <i class="fa fa-square-o fa-stack-2x" 
                                 style="color:#bcebf8;"></i>
                              <i ng-hide="checked.show" class="fa fa-plus fa-stack-1x" 
                                 style="font-size:18px;color:#19a7ce;"></i>
                              <i ng-show="checked.show" class="fa fa-minus fa-stack-1x" 
                                 style="font-size:18px;color:#19a7ce;"></i>
                              <md-tooltip md-direction="top">
                                ADD DESCRIPTION
                              </md-tooltip>
                            </span>
                        </a>

                        <a href="" id="editLink" style="margin-right:-8px"
                           ng-click="sendOneInvitationDialog($event, checked)"
                           ng-show="!checked.accept && !checked.send">
                            <span class="fa-stack fa-lg" style="margin-top:2px">
                              <i class="fa fa-square-o fa-stack-2x" 
                                 style="color:#c7ebb7;"></i>
                              <i class="fa fa-envelope-o fa-stack-1x" 
                                 style="font-size:18px;color:#65b13b;margin-top:-2px;"></i>
                              <md-tooltip md-direction="top">
                                SEND INVITATION
                              </md-tooltip>
                            </span>
                        </a> 

                        <a class="fontawesome-color" href="" 
                           ng-show="!checked.accept && !checked.send"
                             ng-click="deleteCheckin($event, checked)">
                            <span class="fa-stack fa-lg" style="margin-top:2px">
                              <i class="fa fa-square-o fa-stack-2x" 
                                 style="color:#eaa8be;"></i>
                              <i class="fa fa-trash-o fa-stack-1x" 
                                 style="font-size:20px;color:#d44977;margin-top:-2px"></i>
                              <md-tooltip md-direction="top">
                                DELETE CHECKIN
                              </md-tooltip>
                            </span>
                        </a>

                        <a class="fontawesome-color" href="" 
                           ng-show="!checked.accept && checked.send && !checked.reject"
                             ng-click="deleteInvitationDialog($event, checked)">
                            <span class="fa-stack fa-lg" style="margin-top:2px">
                              <i class="fa fa-square-o fa-stack-2x" 
                                 style="color:#eaa8be;"></i>
                              <i class="fa fa-trash-o fa-stack-1x" 
                                 style="font-size:20px;color:#d44977;margin-top:-2px"></i>
                              <md-tooltip md-direction="top">
                                DELETE INVITATION
                              </md-tooltip>
                            </span>
                        </a>

                        <a class="fontawesome-color" href="" 
                           ng-show="checked.accept && checked.send && !checked.reject"
                             ng-click="rejectFromCallerDialog($event, checked, themeColor3)">
                            <span class="fa-stack fa-lg" style="margin-top:2px">
                              <i class="fa fa-square-o fa-stack-2x" 
                                 style="color:#eaa8be;"></i>
                              <i class="fa fa-trash-o fa-stack-1x" 
                                 style="font-size:20px;color:#d44977;margin-top:-2px"></i>
                              <md-tooltip md-direction="top">
                                REJECT {{ checked.firstname | uppercase }}
                              </md-tooltip>
                            </span>
                        </a>

                        <a ng-show="checked.send && !checked.accept && !checked.reject" 
                           class="fontawesome-color right right">
                            <span style="margin-top:2px;margin-right:-15px"
                            class="fa-stack fa-lg">
                              <i class="fa fa-circle-thin fa-stack-2x" 
                                 style="font-size:30px;color:#daf4fc;margin-top:5px;"></i>
                              <i class="fa fa-envelope fa-stack-1x" 
                                 style="font-size:14px;color:#30b4d8;"></i>
                              <md-tooltip md-direction="top">
                                SENT, WAIT FOR RESPONCE
                              </md-tooltip>
                            </span>
                        </a>

                        <a ng-show="!checked.accept && !checked.reject && !checked.send" 
                           class="fontawesome-color right right">
                            <span class="fa-stack fa-lg" 
                                  style="margin-top:2px;margin-right:-15px">
                              <i class="fa fa-circle-thin fa-stack-2x" 
                                 style="font-size:30px;color:#f8f5ca;margin-top:5px;"></i>
                              <i class="fa fa-pause fa-stack-1x" 
                                 style="font-size:14px;color:#ceb128;"></i>
                              <md-tooltip md-direction="top">
                                HAS NOT SENT
                              </md-tooltip>
                            </span>
                        </a>

                        <a ng-show="checked.accept && !checked.reject && checked.send" 
                           class="fontawesome-color right right" 
                           class="fontawesome-color right right">
                            <span ng-show="animeAction"
                            class="fa-stack fa-lg animated infinite pulse delayAnimate" 
                                  style="margin-top:2px;margin-right:-15px">
                              <i class="fa fa-circle-thin fa-stack-2x" 
                                 style="font-size:30px;color:#e2f7c0;margin-top:5px;"></i>
                              <i class="fa fa-check fa-stack-1x" 
                                 style="font-size:18px;color:#23ba0a;"></i>
                              <md-tooltip md-direction="top">
                                ACCEPTED
                              </md-tooltip>
                            </span>
                            <span class="fa-stack fa-lg" ng-hide="animeAction"
                                  style="margin-top:2px;margin-right:-15px">
                              <i class="fa fa-circle-thin fa-stack-2x" 
                                 style="font-size:30px;color:#e2f7c0;margin-top:5px;"></i>
                              <i class="fa fa-check fa-stack-1x" 
                                 style="font-size:18px;color:#23ba0a;"></i>
                              <md-tooltip md-direction="top">
                                ACCEPTED
                              </md-tooltip>
                            </span>
                        </a>

                        <a ng-show="checked.reject && !checked.send && !checked.accept" 
                           class="fontawesome-color right right" 
                           ng-click="responceMessage($event, checked.responceMessage, themeColor3)" href="">
                            <span class="fa-stack fa-lg animated infinite bounceIn delayAnimate" ng-show="animeAction"
                                  style="margin-top:2px;margin-right:-15px">
                              <i class="fa fa-circle-thin fa-stack-2x" 
                                 style="font-size:30px;color:#f9e1e9;margin-top:5px;"></i>
                              <i class="fa fa-times fa-stack-1x" 
                                 style="font-size:18px;color:#e762ad;"></i>
                              <md-tooltip md-direction="top">
                                REJECTED
                              </md-tooltip>
                            </span>
                            <span class="fa-stack fa-lg" ng-hide="animeAction"
                                  style="margin-top:2px;margin-right:-15px">
                              <i class="fa fa-circle-thin fa-stack-2x" 
                                 style="font-size:30px;color:#f9e1e9;margin-top:5px;"></i>
                              <i class="fa fa-times fa-stack-1x" 
                                 style="font-size:18px;color:#e762ad;"></i>
                              <md-tooltip md-direction="top">
                                REJECTED
                              </md-tooltip>
                            </span>
                        </a>
                        <!-- <hr style="height:0px;background-color:#39ac01;margin-top:-45px;!important;width:225px"></hr> -->

                      </div>
                    </div>

                      <div class="outer" 
                           ng-show="checked.send && !checked.accept && !checked.reject">
                        <div class="inner" 
                          style="background: #30b4d8;box-shadow: 0px 0px 30px 20px #30b4d8;">
                         </div>
                      </div> <!-- blue -->

                      <div class="outer" 
                           ng-show="!checked.accept && !checked.reject && !checked.send">
                        <div class="inner" 
                          style="background: #ceb128;box-shadow: 0px 0px 30px 20px #ceb128;">
                         </div>
                      </div> <!-- yellow -->

                      <div class="outer" 
                           ng-show="checked.accept && !checked.reject && checked.send">
                        <div class="inner" 
                          style="background: #23ba0a;box-shadow: 0px 0px 30px 20px #23ba0a;">
                         </div> <!-- green -->
                      </div>

                      <div class="outer" 
                           ng-show="checked.reject && !checked.send && !checked.accept">
                        <div class="inner" 
                          style="background: #e762ad;box-shadow: 0px 0px 30px 20px #e762ad;">
                         </div> <!-- red -->
                      </div>

                  </div>
                </div>
            </div>

            <div ng-show="checked.show" style="margin-top:-10px;"
                 ng-class="checked.userState" style="position:relative;z-index:-100">
              
                <div class="col s12 m7">
                  <div class="card horizontal">
                    <div class="card-stacked">
                      <form ng-submit="addDescription(checked, myDescription)">
                      <div class="card-content" style="margin-top:-1px;padding:10px">
                        <div class="input-field col s12">
                        <input type="text" name="text" ng-model="myDescription" 
                               class="validate" id="text" required="" aria-required="true"
                               style="width:230px;height:2.3rem;font-size:0.9rem">
                        <label for="text" style="font-size:0.8rem"
                         data-error="Please enter description.">
                          Add description for your invitee
                        </label>
                        <button type="submit" name="action" style="margin-top:8px"
                                class="btn-flat waves-effect btn-xs">
                            add
                        </button>
                        </div>
                      </div>
                      </form>
                      <ul class="awardslist cf" style="margin-top:-20px;padding:5px;">
                          <li ng-repeat="(key, des) in checked.descriptions" class="delayAnimate">
                            <div class="award" style="padding:3px;">
                              <span style="font-size:0.8rem;margin-left:10px">
                                {{des.description}}
                              </span>
                              <a class="fontawesome-color" href=""
              ng-click="deleteCheckinDescription($event, checked.$id, key, des.description)">
                                  <span style="padding-left:12px" class="deleteCheckinDes">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                  </span>
                              </a>
                            </div>
                          </li>
                      </ul>
                      
                    </div>
                  </div>
                </div>
            </div>
            

          </li>
        </ul>

      </div>

      <div ng-show="sendAllInvitationsButton" class="card-action right-align" 
           style="margin-right:-45px">
        <a class="waves-effect btn-flat" style="color:#0889af"
           ng-click="sendAllInvitations($event, checkedList)">
          <i class="material-icons left">email</i>
          Send All Invitations
        </a>
        <a href=""></a>
        <a href=""></a>
      </div>

    
    </div>
  </div>
</div>



<!-- Modal Structure -->
<form>
<div id="modal1" class="modal modal-fixed-footer" 
   style="border-radius:12px;max-width:550px;max-height:400px;">

  <md-toolbar>
    <div class="md-toolbar-tools checkinUser" 
         style="background-color:{{themeColor3}};height:80px">
        <img src="images/icon.png" style="margin-bottom:-5px;margin-right:5px">
        <h2>Checkin your invitees</h2>
        <span flex></span>
        <nav class="search left left z-depth-0" 
             style="height:20px;max-height:20px;margin-right:0px;width:220px;
                    margin-top:-15px;background-color:{{themeColor3}}">
          <div class="nav-wrapper">
            
              <div class="input-field">
                <input type="search" ng-model="queryCheck" id="queryCheck" 
                       placeholder="search your invitee">
                <label for="search">
                  <i class="material-icons" style="font-size:24px;">search</i>
                </label>
                  <i class="material-icons" style="font-size:15px;" ng-click="queryCheck = ''">
                    close
                  </i>
              </div>
            
          </div>
        </nav>
    </div>
  </md-toolbar>

  <div class="modal-content">

    <div ng-hide="showCheckinList" style="color:#7d7d7d;font-size:1.3rem">
      <p class="center-align">All partners have invited...</p>
    </div>

    <div ng-show="showCheckinList" style="margin-bottom:-12px">
      <!-- <div class="row" style="margin-bottom:-12px"> -->
        <div class="col s12" style="margin-bottom:-12px"
             ng-repeat="(key, user) in usersShort | filter:queryCheck" 
             class="user delayAnimate" 
             id="{{user.regUser}}">

          <div class="col s5" style="margin-top:-10px">
            <input type="checkbox" class="filled-in"
                   ng-change="sync(bool, user)" 
                   ng-model="bool" 
                   ng-checked="isChecked(user.regUser)" 
                   id="{{$index}}" />
            <label for="{{$index}}">
              {{user.firstname | capitalize }} {{user.lastname | capitalize }}
            </label>
          </div>

          <div class="col s7">
            <input type="text" 
                   ng-readonly="!bool" ng-model="user.value"
                   placeholder="description" style="margin-top:-5px">
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>

  <div class="modal-footer" ng-show="showCheckinList">
    <a ng-click="clearData()" 
            class="modal-action modal-close waves-effect btn-flat"> 
      Cancel
    </a>
    <button ng-show="showAgree"  ng-click="addCheckin()" 
            class="modal-action modal-close waves-effect btn-flat"> 
      Agree
    </button>
  </div>

  <div class="modal-footer" ng-hide="showCheckinList">
    <a href="" class="modal-action modal-close waves-effect btn-flat"> 
      Ok
    </a>
  </div>

</div>
</form>


<div id="modal2" class="modal modal-fixed-footer" 
   style="border-radius:12px;max-width:450px;max-height:350px;">
  <md-toolbar>
      <div class="md-toolbar-tools" style="background-color:{{themeColor3}}">
        <img src="images/icon.png" style="margin-bottom:-5px;margin-right:5px">
        <h2>Meeting Details</h2>
        <span flex></span>
        <a class="modal-action modal-close waves-effect waves-green">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
    </md-toolbar>

  <div class="modal-content">

      <div class="row">
        <div class="col s12" style="margin-top:-15px">

          
          <p>
            <i class="fa fa-users" aria-hidden="true"></i>
            <b>Name: </b>{{ meetingChecked.name }}
          </p>

          <p style="font-size:0.9rem;margin-top:-10px;color:#2ea6c8">
            <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>            
            <b ng-show="meetingChecked.time">Time: {{ meetingChecked.time | limitTo:5 }}</b>
            <b ng-hide="meetingChecked.time">Time: not set</b>
          </p>
          
          <p style="font-size:0.9rem;color:#747474">

            {{ meetingChecked.description }}
          </p>
          <p style="margin-top:-10px;color:#2ea6c8">
            <i class="fa fa-calendar-o" aria-hidden="true"></i> 
            <b ng-show="meetingChecked.dateMeeting">
              Date: {{ meetingChecked.dateMeeting | date }}</b>
            <b ng-hide="meetingChecked.dateMeeting">
              Date: not set</b>
          </p>

        </div>
      </div>
    </div>

  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat"> 
      Ok
    </button>
  </div>
</div>


<!-- <form ng-submit="addDescriptionCheckin()">
<div id="modal3" class="modal modal-fixed-footer" 
   style="border-radius:12px;max-width:450px;max-height:170px;">

  <md-toolbar>
    <div class="md-toolbar-tools checkinUser" style="background-color:#26a69a;height:80px">
      <i class="fa fa-comments-o fa-lg" style="margin-right:10px" aria-hidden="true"></i>
        <h2>Add description for your invitee</h2>
        <span flex></span>
    </div>
  </md-toolbar>

  <div class="modal-content">

    <div style="margin-bottom:-20px">
      <div class="row" style="margin-bottom:-10px">
        <div>
          <input style="color:#666" name="checkinDescription" 
                 type="text" ng-model="checkinDescription"
                 placeholder="What do you want to give them?">
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-click="clearData()" 
            class="modal-action modal-close waves-effect waves-green btn-flat"> 
      Cancel
    </button>
    <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat"> 
      Agree
    </button>
  </div>

</div>
</form> -->


</div> <!-- ng-show="signIn()" -->
</div> <!-- End of html -->

<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
</script>