<br>
<div ng-hide="signedIn()" class="center">
  <h3>Sorry</h3>
  <p>Only registered users can create and manage meetings.</p>
  <p>Please <a ng-href="#/register">Register</a> or <a ng-href="#/login">Login</a></p>
</div>

<div ng-show="signedIn()">
  
<div ng-hide="showExpList" class="center">
  <h3 style="color: #555;">Hi there</h3>
  <p style="color: #777;">You have not Expired meeting now...</p>
</div>


<div ng-show="showExpList">

<h5>Expired, </h5>manage your time correctly and also be ontime...

<nav class="search right right z-depth-0" 
style="height:35px;background-color:#2ea6c8;margin-top:37px;margin-right:7px;width:250px;">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input type="search" ng-model="query" placeholder="search your term">
        <label for="search">
          <i class="material-icons" style="font-size:24px;">search</i>
        </label>
          <i class="material-icons" style="font-size:15px;" ng-click="query = ''">close</i>
      </div>
    </form>
  </div>
</nav>


<datatable-directive 
           datameetings="meetingExpFilter"
           page-size="pageSize"
           query="query"
           firebase-user="firebaseUser">
</datatable-directive>


</div>  


</div>