<br>
<div ng-hide="signedIn()" class="center">
  <h3>Sorry</h3>
  <p>Only registered users can create and manage meetings.</p>
  <p>Please <a ng-href="#/register">Register</a> or <a ng-href="#/login">Login</a></p>
</div>

<div ng-show="signedIn()" ng-controller="InvitationsController">

<h5>Invitations</h5>
<p style="margin-top:-10px;color:#999">You've been invited by colleagues</p>



<div class="row">
  <div class="col s12">
    <span class="flow-text">
      <nav class="sidenav-title1" style="background-color:#26a69a !important">
        <div class="nav-wrapper">

            <nav class="sidenav-title1" style="background-color:#26a69a !important">
              <div class="nav-wrapper">

                <nav class="search right right z-depth-0" 
                  style="height:35px;background-color:#26a69a;margin-top:3px;margin-right:3px;width:200px;">
                    <div class="nav-wrapper">
                      <form>
                        <div class="input-field">
                          <input type="search" ng-model="query" placeholder="search your term">
                          <label for="search">
                            <i class="material-icons" style="font-size:24px;">search</i>
                          </label>
                            <i class="material-icons" style="font-size:15px;" ng-click="query = ''">close</i>
                        </div>
                      </form>
                    </div>
                </nav>

                <a href="#" data-activates="slide-out" class="button-collapse">
                  <i class="material-icons" style="margin-top:3px">menu</i>
                </a>
                <ul class="left hide-on-med-and-down">
                  <li class="sidenav-li" style="margin-top:-3px">
                    <a class="modal-trigger waves-effect waves-light" 
                       data-target="modal1" ng-click="queryCheck = ''">
                      <i class="fa fa-user-plus" aria-hidden="true"></i>
                      &nbsp Invite User
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px">
                    <a class="modal-trigger waves-effect waves-light" 
                       data-target="modal2">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                      &nbsp Meeting Details
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px" ng-show="isThereOne">
                    <a class="waves-effect waves-light" ng-click="deleteAllCheckin()">
                      <i class="fa fa-minus-circle" aria-hidden="true"></i>
                      &nbsp Delete All Invitees
                    </a>
                  </li>
                  <li class="sidenav-li" style="margin-top:-3px">
                    <a ng-href="#/meetings" class="waves-effect waves-light">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                      &nbsp Back to Meetings
                    </a>
                  </li>
                </ul>
<!-- -------------------------------Phone view -------------------------------- -->
                <ul id="slide-out" class="side-nav">
                  <li class="sidenav-li" style="margin-top:-2px">
                    <a class="modal-trigger waves-effect waves-light" 
                       data-target="modal1">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                      &nbsp Add Checkin
                    </a>
                  </li>
                  <li class="sidenav-li">
                    <a ng-href="" class="waves-effect waves-light">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                      &nbsp Meeting Details
                    </a>
                  </li>
                  <li class="sidenav-li">
                    <a ng-href="#/meetings" class="waves-effect waves-light">
                      <i class="fa fa-chevron-left" aria-hidden="true"></i>
                      &nbsp Back to Meetings
                    </a>
                  </li>
                </ul>
              </div>
            </nav>

        </div>
      </nav>
    </span>
  </div>
</div>


<div class="col s12">
  <div class="card horizontal">
    <div class="card-stacked">

      <div class="card-content">
        <div style="margin-top:-5px">
          <b>Title</b>
        </div>
        <b class="right" style="color:#{{whichcolor}};margin-top:-20px">
          <div style="margin-top:2px;">
          <i class="fa fa-check animated bounce delayAnimate" 
             aria-hidden="true"></i>
          </div>
          <div style="margin-top:-17px;margin-left:12px">
            &nbsp&nbsp date
          </div>
        </b>
      </div>
      <div class="card-action center" ng-show="isThereOne">
        <p class="center" style="color:#b5b5b5;font-size:1.1em">
        	You still have not received an invitation...
        </p>
      </div>
      <div class="card-action" style="color: #6d6d6d">

        <ul class="invitelist cf" style="margin-left:5px;">
          <li ng-repeat="invitation in invitations | filter:query" class="hoverable">
            <div class="checkin">

                <div class="col s12 m7">
                  <div class="card horizontal">
                    <div class="card-image">
                    	<a href="">
                            <span>
                              <img style="border-top-left-radius:12px;border-bottom-left-radius:12px;width:80px;max-width:80px;" 
                       src="images/personal_pics/{{invitation.imageCaller}}.jpg">
                              <md-tooltip md-direction="top" style="font-size:0.9rem">
                                {{invitation.firstnameCaller}}
                                {{invitation.lastnameCaller}} 
                              </md-tooltip>
                            </span>
                        </a>
                    </div>
                    <div class="card-stacked">

	                    <div class="card-content">
	                      <b style="font-size:1em">
	                        {{invitation.name}}
	                      </b>
	                      <div class="date">{{invitation.description}}</div>	
	                      <div class="date">{{invitation.dateMeeting | date}}</div>	
	                    </div>

	                    <div class="card-action">
	                       card action
	                    </div>

                    </div>
                  </div>
                </div>

            </div>
            

          </li>
        </ul>
      </div>

      <div ng-show="sendAllInvitationsButton" class="card-action right-align" 
           style="margin-right:-45px">
        <a class="waves-effect btn-flat" style="color:#0889af"
           ng-click="sendAllInvitations($event)">
          <i class="material-icons left">email</i>
          Send All Invitations
        </a>
        <a href=""></a>
        <a href=""></a>
      </div>

    </form>
    </div>
  </div>
</div>



<!-- Modal Structure -->
<form ng-submit="addCheckin()">
<div id="modal1" class="modal modal-fixed-footer" 
   style="border-radius:12px;max-width:550px;max-height:400px;">

  <md-toolbar>
    <div class="md-toolbar-tools checkinUser" style="background-color:#26a69a;height:80px">
        <h2>Checkin your invitees</h2>
        <span flex></span>
        <nav class="search left left z-depth-0" 
             style="height:20px;max-height:20px;margin-right:0px;width:220px;
                    margin-top:-15px;background-color:#26a69a">
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input type="search" ng-model="queryCheck" id="queryCheck" 
                       placeholder="search your invitee">
                <label for="search">
                  <i class="material-icons" style="font-size:24px;">search</i>
                </label>
                  <i class="material-icons" style="font-size:15px;" ng-click="queryCheck = ''">
                    close
                  </i>
              </div>
            </form>
          </div>
        </nav>
    </div>
  </md-toolbar>

  <div class="modal-content">

    <div style="margin-bottom:-12px">
      <!-- <div class="row" style="margin-bottom:-12px"> -->
        <div class="col s12" style="margin-bottom:-12px"
             ng-repeat="(key, user) in usersShort | filter:queryCheck" 
             class="user" 
             id="{{user.regUser}}">

          <div class="col s5">
            <input type="checkbox" class="filled-in"
                   ng-change="sync(bool, user)" 
                   ng-model="bool" 
                   ng-checked="isChecked(user.regUser)" 
                   id="{{$index}}" />
            <label for="{{$index}}">
              {{user.firstname | capitalize }} {{user.lastname | capitalize }}
            </label>
          </div>

          <div class="col s7">
            <input id="description{{$index+1}}" type="text" 
                   ng-readonly="!bool"
                   placeholder="description" style="margin-top:-11px"
                   ng-model="description">
            
          </div>

        </div>
      <!-- </div> -->
    </div>
  </div>

  <div class="modal-footer">
    <button ng-click="clearData()" 
            class="modal-action modal-close waves-effect btn-flat"> 
      Cancel
    </button>
    <button type="submit" class="modal-action modal-close waves-effect btn-flat"> 
      Agree
    </button>
  </div>

</div>
</form>


<div id="modal2" class="modal modal-fixed-footer" 
   style="border-radius:12px;max-width:450px;max-height:350px;">
  <md-toolbar>
      <div class="md-toolbar-tools" style="background-color:#26a69a">
        <h2>Meeting Details</h2>
        <span flex></span>
        <a class="modal-action modal-close waves-effect waves-green">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
      </div>
    </md-toolbar>

  <div class="modal-content">

      <div class="row">
        <div class="col s12">

          
          <p>
            <i class="fa fa-users" aria-hidden="true"></i>
            <b>Name: </b>{{ meetingChecked.name }}
          </p>

          <p style="font-size:0.9rem;margin-top:-10px;color:#2ea6c8">
            <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>            
            <b>Time: {{ meetingChecked.time | limitTo:5 }}</b>
          </p>
          
          <p style="font-size:0.9rem;color:#747474">

            {{ meetingChecked.description }}
          </p>
          <p style="margin-top:-10px;color:#2ea6c8">
            <i class="fa fa-calendar-o" aria-hidden="true"></i> 
            <b>Date: {{ meetingChecked.dateMeeting | date }}</b>
          </p>

        </div>
      </div>
    </div>

  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat"> 
      Ok
    </button>
  </div>
</div>


</div> <!-- ng-show="signIn()" -->
</div> <!-- End of html -->


<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
    $('.tooltipped').tooltip({delay: 50});
  });
</script>