<br><ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header modal-title"><i class="material-icons">add</i>
      	Add New Meeting
      </div>
      <div class="collapsible-body modal-background">
      	<div class="row modal-form">
      	<form ng-submit="addMeeting()" id="meetingform" class="col s12">
      		<div class="row">
            <div class="input-field col s6">  
                <i class="small material-icons prefix">supervisor_account</i>
                <input name="name" id="name" type="text" class="validate" 
                       required="" aria-required="true" ng-model="meeting.name"  length="25">
                <label class="modal-label" for="name" data-error="oops! too much words">
                	Meeting
                </label>
            </div>
            <!-- <div class="input-field col s6">  
                <i class="small material-icons prefix">supervisor_account</i>
                <input name="invitees" id="invitees" type="text" class="validate" 
                       required="" aria-required="true" ng-model="meeting.invitees"  length="25">
                <label class="modal-label" for="invitees" data-error="oops! too much words">
                	Invitees
                </label>
            </div> -->
            <div class="input-field col s6">
                <i class="small material-icons prefix">comment</i>
                <input name="description" id="description" type="text" class="validate" 
                       required="" aria-required="true" ng-model="meeting.description" length="150">
                <label class="modal-label" for="description" data-error="oops! too much words">
                  Description
                </label>
            </div>
            <div class="input-field col s6">
            	<i class="small material-icons prefix">today</i>
            	<input type="date" id="date" class="datepicker" placeholder="Date"
            	       name="date" ng-model="meeting.date">
            	
            </div>
            <div class="input-field col s6">
                <i class="small material-icons prefix">av_timer</i>
                <input id="timepicker_ampm_dark" class="timepicker" type="time" name="time"
                       ng-model="meeting.time" placeholder="Time">
            </div>
            <div>
		            <a class="waves-effect Default btn-flat right" id="clearButton" 
                    data-click=".collapsible .collapsible-header:first">
            	Cancel
            </a>
            <button class="waves-effect Default btn-flat right" type="submit" id="addButton"
            		data-click=".collapsible .collapsible-header:first">
		          Add 
		    </button>
  			</div>
        </div>
      	</form>
      </div>
      </div>
    </li>
</ul>

<table class="bordered highlight card">
  <thead>
    <tr class="meeting-data-table">
      
      <th></th>
      <th>Meeting</th>
      <th>Description</th>
      <th>Date</th>
      <th>Time</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="(key, meeting) in meetings">
     
      <td class="meeting-data-table">{{ $index + 1 }}</td>
      <td class="meeting-data-table">{{meeting.name}}</td>
      <td class="meeting-data-table">{{meeting.description}}</td>
      <td class="meeting-data-table">{{meeting.dateMeeting}}</td>
      <td class="meeting-data-table">{{meeting.time}}</td>
      <td class="right meeting-data-table">
        <a href=""><i class="material-icons prefix icon-color">mode_edit</i></a>
        <a href=""><i class="material-icons prefix icon-color">comment</i></a>
        <a href="" ng-click="deleteMeeting($event, key, meeting.name)">
          <i class="material-icons prefix icon-color">delete</i>
        </a>
        </td>
    </tr>
  </tbody>
</table>


                    
                                         
<!-- <a class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="I am tooltip">Hover!</a>

<style>
  .backdrop{
    background-color: #ef5350;
   }
  td .tooltipped {
    
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: text-bottom;
    position:absolute;
  }
</style>



        <button data-target="modal1" class="btn modal-trigger">Modal</button>
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>Modal Header</h4>
              <p>Are you sure you want to delete meeting ( {{meeting.name}} )</p>
            </div>
            <div class="modal-footer">
              <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat"
                 onclick="Materialize.toast('Meeting deleted!', 4000)" ng-click="deleteMeeting(key)">
                 Agree
              </a>
            </div>
          </div> 



 -->