
<div ng-hide="signedIn()" class="center">
  <h3>Sorry</h3>
  <p>Only registered users can create and manage meetings.</p>
  <p>Please <a ng-href="#/register">Register</a> or <a ng-href="#/login">Login</a></p>
</div>

<div ng-show="signedIn()">

<nav class="search" 
     style="height:35px;background-color:#dcdcdc;margin-top: 10px;">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input type="search" ng-model="query">
        <label for="search">
          <i class="material-icons" style="font-size:24px;">search</i>
        </label>
          <i class="material-icons" style="font-size:15px;">close</i>
      </div>
    </form>
  </div>
</nav>

<ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header modal-title">
        <i class="material-icons">add</i>
      	{{ nameAction }}
      </div>
      <div class="collapsible-body modal-background">
      	<div class="row modal-form">
      	<form ng-submit="addMeeting()" id="meetingform" class="col s12">
      		<div class="row">
            <div class="input-field col s6">  
                <i class="small material-icons prefix">supervisor_account</i>
                <input name="name" id="name" type="text" class="validate" 
                       required="" aria-required="true" ng-model="meeting.name"  length="25">
                <label class="modal-label" for="name" data-error="oops! too much words">
                	Meeting
                </label>
            </div>
            <!-- <div class="input-field col s6">  
                <i class="small material-icons prefix">supervisor_account</i>
                <input name="invitees" id="invitees" type="text" class="validate" 
                       required="" aria-required="true" ng-model="meeting.invitees"  length="25">
                <label class="modal-label" for="invitees" data-error="oops! too much words">
                	Invitees
                </label>
            </div> -->
            <div class="input-field col s6">
                <i class="small material-icons prefix">comment</i>
                <input name="description" id="description" type="text" class="validate" 
                       required="" aria-required="true" ng-model="meeting.description" length="150">
                <label class="modal-label" for="description" data-error="oops! too much words">
                  Description
                </label>
            </div>
            <div class="input-field col s6">
            	<i class="small material-icons prefix">today</i>
            	<input type="date" id="date" class="datepicker" placeholder="Date"
            	       name="date" ng-model="meeting.date">
            	
            </div>
            <div class="input-field col s6">
                <i class="small material-icons prefix">av_timer</i>
                <input id="timepicker_ampm_dark" class="timepicker" type="time" name="time"
                       ng-model="meeting.time" placeholder="Time">
            </div>
            <div>
		            <a class="waves-effect Default btn-flat right" 
                   id="clearButton" data-click=".collapsible .collapsible-header:first">
                	Cancel
                </a>
                <button class="waves-effect Default btn-flat right" type="submit"
                        data-click=".collapsible .collapsible-header:first">
    		          Add 
    		        </button>
  			</div>
        </div>
      	</form>
      </div>
      </div>
    </li>
</ul>

<table class="bordered highlight card">
  
  <thead>
    <tr class="meeting-data-table meeting-table-title">
      <th class="meeting-data-table">#</th>
      <th>
        <a href="" ng-click="sort('name')">Meeting 
        <i ng-show="sort.field !== 'name'" 
           class="fa fa-chevron-down" 
           aria-hidden="true" style="color:#999"></i>
        <i ng-show="sort.field === 'name' && !sort.order" 
           class="fa fa-chevron-down animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> 
        <i ng-show="sort.field === 'name' && sort.order" 
           class="fa fa-chevron-up animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> </a>
      </th>
      
      <th>
        <a href="" ng-click="sort('description')">Description 
        <i ng-show="sort.field !== 'description'" 
           class="fa fa-chevron-down" 
           aria-hidden="true" style="color:#999"></i>
        <i ng-show="sort.field === 'description' && !sort.order" 
           class="fa fa-chevron-down animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> 
        <i ng-show="sort.field === 'description' && sort.order" 
           class="fa fa-chevron-up animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> </a> 
      </th>
      <th>
        <a href="" ng-click="sort('date')">Date
        <i ng-show="sort.field !== 'date'" 
           class="fa fa-chevron-down" 
           aria-hidden="true" style="color:#999"></i> 
        <i ng-show="sort.field === 'date' && !sort.order" 
           class="fa fa-chevron-down animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> 
        <i ng-show="sort.field === 'date' && sort.order"
           class="fa fa-chevron-up animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> </a>
      </th>
      <th>
        Time 
      </th>
      <th>
        Remain Day 
      </th>
      <th class="right" style="margin-right:20px;">Action</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="(key, meeting) in meetings | filter:query | orderBy: sort.field: sort.order" 
        style="border-color: #e4e4e4">
      <td class="meeting-data-table">
        <b>{{ $index + 1 }}</b>
      </td>
      <td style="color: {{meeting.textColor}};" class="meeting-data-table">
        {{ meeting.name }}
      </td>
      <td style="color: {{meeting.textColor}};" class="meeting-data-table">
        {{ meeting.description }}
      </td>
      <td style="color: {{meeting.textColor}};" class="meeting-data-table">
        {{ meeting.dateMeeting | date }}
      </td>
      <td style="color: {{meeting.textColor}};" class="meeting-data-table">
        {{ meeting.time }}
      </td>
      <td class="meeting-data-table" style="color: {{meeting.dayColor}};">
        {{ meeting.remainDay }} {{ meeting.diffDays }}
      </td>
      <td class="right meeting-data-table">
        <a href="" id="editLink" ng-click="getEdit(meeting.$id)" 
           data-click=".collapsible .collapsible-header:first">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x" 
               style="color:#b6dda1;margin-top:-7px;"></i>
            <i class="fa fa-pencil fa-stack-1x" 
               style="font-size:20px;color:#82b168;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              EDIT
            </md-tooltip>
          </span>
        </a>
        <a class="fontawesome-color" ng-click="deleteMeeting($event, meeting.$id, meeting.name)"
           href="" >
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x" 
               style="color:#eaa8be;margin-top:-7px;"></i>
            <i class="fa fa-trash-o fa-stack-1x" 
               style="font-size:20px;color:#d44977;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              DELETE
            </md-tooltip>
          </span>
        </a>
        </td>
    </tr>
  </tbody>
</table>
</div>                                          
<!-- <a class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="I am tooltip">Hover!</a>

<style>
  .backdrop{
    background-color: #ef5350;
   }
  td .tooltipped {
    
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: text-bottom;
    position:absolute;
  }
</style>



        <button data-target="modal1" class="btn modal-trigger">Modal</button>
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>Modal Header</h4>
              <p>Are you sure you want to delete meeting ( {{meeting.name}} )</p>
            </div>
            <div class="modal-footer">
              <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat"
                 onclick="Materialize.toast('Meeting deleted!', 4000)" ng-click="deleteMeeting(key)">
                 Agree
              </a>
            </div>
          </div> 



 -->