
<br>
<div ng-hide="signedIn()" class="center">
  <h3>Sorry</h3>
  <p>Only registered users can create and manage meetings.</p>
  <p>Please <a ng-href="#/register">Register</a> or <a ng-href="#/login">Login</a></p>
</div>

<div ng-controller="LoadbarController" ng-hide="loadingBar">
<div ng-show="signedIn()">
<h5 style="margin-bottom:0px">Meeting System</h5>
<span style="color:#646464;font-size:0.9rem">Add and manage your meetings</span>

<nav class="search right right z-depth-0" 
style="height:35px;background-color:{{themeColor3}};margin-top:36px;margin-right:6px;width:250px;">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input type="search" ng-model="query" placeholder="search your term">
        <label for="search">
          <i class="material-icons" style="font-size:24px;">search</i>
        </label>
          <i class="material-icons" style="font-size:15px;" ng-click="query = ''">close</i>
      </div>
    </form>
  </div>
</nav>


<datatable-directive 
           datameetings="meetings"
           page-size="pageSize"
           query="query"
           theme-color="themeColor3"
           firebase-user="firebaseUser"
           anime-action="animeAction">
</datatable-directive>


</div> <!-- End Page --> 

</div>