<div ng-controller="statusController">


<nav ng-controller="statusController">
  <div class="nav-wrapper" ng-class="themeColor1">

    <a href="#/meetings" class="brand-logo-own">
      <img src="images/logo.png" style="margin-left:10px;margin-bottom:-14px">
      Meetings Management System
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse right">
      <i class="material-icons" style="margin-top: 15px;">menu</i>
    </a>
    <!---------------------- Pc view ------------------------>
    <ul class="right hide-on-med-and-down">

      <li ng-hide="currentUser">
        <a ng-href="#/login" style="font-size:0.9rem">
          <i class="fa fa-lock fa-lg fa-icon" aria-hidden="true"></i>
          Login
        </a>
      </li>

      <li ng-hide="currentUser">
        <a ng-href="#/register" style="font-size:0.9rem">
          <i class="fa fa-sign-in fa-lg fa-icon" aria-hidden="true"></i>
          Register
        </a>
      </li>

      <li ng-show="currentUser">
        <a ng-href="#/archives/{{currentUser.regUser}}" style="font-size:0.9rem">
          <i class="fa fa-archive fa-lg fa-icon" aria-hidden="true" style="color:#0cd4c1"></i>
           Archives
        </a>
      </li>

      <li ng-show="currentUser">
        <a class="dropdown-button" href="" 
           data-activates="dropdown3" style="font-size:0.9rem">
          <i class="fa fa-user-times fa-lg fa-icon" aria-hidden="true" style="color:#ff024f"></i>
           Cancelation
          <i class="fa fa-angle-down fa-icon-right" aria-hidden="true"></i>
        </a>
      </li>

      <li ng-show="currentUser && alarm">
        <a ng-href="#/alarm" style="font-size:0.9rem">
          <i class="fa fa-bell-o fa-lg fa-icon animated infinite swing delayAnimate" 
             aria-hidden="true" style="color:#4be223" ng-show="animeAction"></i>
          <i class="fa fa-bell-o fa-lg fa-icon animated rubberBand delayAnimate" 
             aria-hidden="true" style="color:#4be223" ng-hide="animeAction"></i>
          Alarm
          <span class="alarm new badge" data-badge-caption="">
            {{alarm}}
          </span>
        </a>
      </li>

      <li ng-show="currentUser">
        <a class="dropdown-button" href="" 
           data-activates="dropdown4" style="font-size:0.9rem">
          <i class="fa fa-users fa-lg fa-icon" aria-hidden="true"
             style="color:#0cd4c1"></i>
           Meetings
          <i class="fa fa-angle-down fa-icon-right" aria-hidden="true"></i>
        </a>
      </li>

      <li ng-show="currentUser" style="margin-right:-14px">
        <a class="dropdown-button" href="" 
           data-activates="dropdown1" style="font-size:0.9rem">
          <i class="fa fa-unlock fa-lg fa-icon" aria-hidden="true"></i>
           Welcome  {{  currentUser.firstname | capitalize }}
          <i class="fa fa-angle-down fa-icon-right" aria-hidden="true"></i>
        </a>
      </li>

      <li ng-show="currentUser" style="margin-right:35px;margin-top:12px;">
        <a class="dropdown-button" style="font-size:0.9rem">
          <div class="crop">
             <img src="images/personal_pics/{{currentUser.image}}.jpg">
          </div>
        </a>
      </li>

    </ul>

    <!----------------------- Mobile view ------------------------>
    <ul class="side-nav" id="mobile-demo">
      <li ng-hide="currentUser">
        <a ng-href="#/login">
          <i class="fa fa-lock fa-lg fa-icon" style="margin-top: 6px;" aria-hidden="true"></i>
          Login
        </a>
      </li>

      <li ng-hide="currentUser">
        <a ng-href="#/register">
          <i class="fa fa-sign-in fa-lg fa-icon" style="margin-top: 6px;" aria-hidden="true"></i>
          Register
        </a>
      </li>

      <li ng-show="currentUser && expiredDate">
        <a ng-href="#/expired">
          <i class="fa fa-calendar-times-o fa-lg fa-icon" 
          style="margin-top:7px;margin-right:5px;" aria-hidden="true"></i>
          Expired Meeting!
        <span class="new badge red" data-badge-caption="exp" style="margin-left:20px">
          {{expiredDate}}
        </span> 
        </a>
      </li>

      <li ng-show="currentUser && alarm">
        <a ng-href="#/alarm">
          <i class="fa fa-clock-o fa-lg fa-icon" 
          style="margin-top:7px;margin-right:5px;" aria-hidden="true"></i>
          Alarm
          <span class="new badge orange" data-badge-caption="new"
                style="margin-left:96px">
            {{alarm}}
          </span>
        </a>
      </li>

      <li ng-show="currentUser && invitationShow">
        <a ng-href="#/invitations/{{currentUser.regUser}}">
          <i class="fa fa-address-card-o fa-lg fa-icon" 
             aria-hidden="true" style="margin-top:7px;margin-right:5px;"></i>
          Invitations
          <span class="new badge blue" data-badge-caption="new" style="margin-left:69px">
            {{ invitationNum }}
          </span>
        </a>
      </li>

      <li ng-show="currentUser">
        <a ng-href="#/meetings">
          <i class="fa fa-users fa-lg fa-icon" 
          style="margin-top:7px;margin-right:5px;" aria-hidden="true"></i>
          Meetings Available
           <span ng-if="howManyMeetings>0" class="new badge blue" data-badge-caption=""
                  style="margin-left:20px">
            {{ howManyMeetings }} 
           </span>
        </a>
      </li>

      <li ng-show="currentUser">
        <a class="dropdown-button" href="#!" 
           data-activates="dropdown2">
          <i class="fa fa-unlock fa-lg fa-icon" style="margin-top: 6px;" aria-hidden="true">
          </i>
           Welcome {{  currentUser.firstname  }}
        </a>
      </li>

    </ul>
    
  </div>
</nav>

<ul id="dropdown1" class="dropdown-content dropdown-menu-right">
  <li>
    <a ng-href="#/profile">
      <i class="material-icons left">perm_identity</i>Profile
    </a>
  </li>
  <li><a ng-href="#/settings">
    <i class="material-icons left">settings</i>Settings</a>
  </li>
  <li>
    <a href="" ng-click="logout()">
      <i class="material-icons left">power_settings_new</i>
      Sign out
    </a>
  </li>
</ul>

<ul id="dropdown2" class="dropdown-content">
  <li>
    <a ng-href="#/profile">
      <i class="material-icons left">perm_identity</i>Profile
    </a>
  </li>
  <li><a ng-href="#/settings">
    <i class="material-icons left">settings</i>Settings</a>
  </li>
  <li>
    <a href="" ng-click="logout()">
      <i class="material-icons left">power_settings_new</i>
      Sign out
    </a>
  </li>
</ul>

<ul id="dropdown3" class="dropdown-content dropdown-menu-right" style="min-width:180px">

    <li ng-show="currentUser && cancelationNum">
      <a ng-href="#/cancelation" style="font-size:0.9rem">
        <i class="material-icons left" style="margin-top:-6px">not_interested</i>
      <span style="margin-left:-5px;margin-right:8px">Cancelation</span>  
      <span class="new badge expired" data-badge-caption="">
        {{cancelationNum}}
      </span>
      </a>
    </li>

    <li ng-show="currentUser && expiredDate">
      <a ng-href="#/expired" style="font-size:0.9rem">
        <i class="material-icons left" style="margin-top:-6px">alarm_off</i>
      <span style="margin-left:-5px;margin-right:29px">Expired!</span>  
      <span class="new badge expired" data-badge-caption="">
        {{expiredDate}}
      </span>
      </a>
    </li>

    <li ng-show="currentUser && cancelShow">
      <a ng-href="#/suspension" style="font-size:0.9rem">
        <i class="material-icons left" style="margin-top:-6px">snooze</i>
      <span style="margin-left:-5px;margin-right:9px">Suspension </span> 
      <span class="new badge expired" data-badge-caption="">
        {{howManyCancel}}
      </span>
      </a>
    </li>

</ul>


<ul id="dropdown4" class="dropdown-content dropdown-menu-right" style="min-width:180px">

    <li ng-show="currentUser">
        <a ng-href="#/meetings" style="font-size:0.9rem">
          <i class="material-icons left" style="margin-top:-6px">supervisor_account</i>
          <span style="margin-left:-5px;margin-right:19px">Meetings </span>
           <span ng-if="howManyMeetings>0" class="new badge" data-badge-caption="">
            {{ howManyMeetings }} 
           </span>
        </a>
      </li>

    <li ng-show="currentUser && invitationShow">
        <a ng-href="#/invitations/{{currentUser.regUser}}" style="font-size:0.9rem">
          <i class="material-icons left" style="margin-top:-6px">open_in_browser</i>
          <span style="margin-left:-5px;margin-right:12px">Invitations </span>
          <span class="invitation new badge" data-badge-caption="">
            {{ invitationNum }}
          </span>
        </a>
      </li>

</ul>




</div>


