<ul id="dropdown1" class="dropdown-content" ng-controller="statusController">
  <li><a ng-href="#/profile"><i class="material-icons left">perm_identity</i>Profile</a></li>
  <li><a ng-href="#/settings"><i class="material-icons left">settings</i>Settings</a></li>
  <li>
    <a href="" ng-click="logout()">
      <i class="material-icons left">power_settings_new</i>
      Sign out
    </a>
  </li>
</ul>

<ul id="dropdown2" class="dropdown-content" ng-controller="statusController">
  <li><a ng-href="#/profile"><i class="material-icons left">perm_identity</i>Profile</a></li>
  <li><a ng-href="#/settings"><i class="material-icons left">settings</i>Settings</a></li>
  <li>
    <a href="" ng-click="logout()">
      <i class="material-icons left">power_settings_new</i>
      Sign out
    </a>
</li>
</ul>

<nav ng-controller="statusController">
  <div class="nav-wrapper pink darken-1">
    <a href="#!" class="brand-logo-own">Meetings Management System</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse right">
      <i class="material-icons" style="margin-top: 15px;">menu</i>
    </a>
    <!---------------------- Pc view ------------------------>
    <ul class="right hide-on-med-and-down">
      
      <li ng-hide="currentUser">
        <a ng-href="#/login">
          <i class="fa fa-lock fa-lg fa-icon" aria-hidden="true"></i>
          Login
        </a>
      </li>

      <li ng-hide="currentUser">
        <a ng-href="#/register" >
          <i class="fa fa-sign-in fa-lg fa-icon" aria-hidden="true"></i>
          Register
        </a>
      </li>

      <li ng-show="currentUser && expiredDate">
        <a ng-href="#/expired">
          <i class="fa fa-clock-o fa-lg fa-icon" aria-hidden="true"></i>
        Expired! 
        <span class="new badge red" data-badge-caption="exp">
          {{expiredDate}}
        </span>
        </a>
      </li>

      <li ng-show="currentUser && alarm">
        <a ng-href="#/alarm">
          <i class="fa fa-bell-o fa-lg fa-icon animated infinite swing delayAnimate" 
             aria-hidden="true"></i>
          Alarm
          <span class="new badge" data-badge-caption="new">
            {{alarm}}
          </span>
        </a>
      </li>

      <li ng-show="currentUser">
        <a ng-href="#/meetings">
          <i class="fa fa-users fa-lg fa-icon" aria-hidden="true"></i>
      	   Meetings
           <span ng-if="howManyMeetings>0" class="new badge" data-badge-caption="">
            {{ howManyMeetings }} 
           </span>
        </a>
      </li>

      <li ng-show="currentUser">
      	<a class="dropdown-button" href="#!" 
           data-activates="dropdown1">
          <i class="fa fa-unlock fa-lg fa-icon" aria-hidden="true"></i>
      	   Welcome  {{  currentUser.firstname  }}
           <i class="fa fa-angle-down fa-icon-right" aria-hidden="true"></i>
        </a>
      </li>

    </ul>

    <!----------------------- Mobile view ------------------------>
    <ul class="side-nav" id="mobile-demo">
      <li ng-hide="currentUser">
        <a ng-href="#/login">
          <i class="fa fa-lock fa-lg fa-icon" style="margin-top: 6px;" aria-hidden="true"></i>
          Login
        </a>
      </li>

      <li ng-hide="currentUser">
        <a ng-href="#/register">
          <i class="fa fa-sign-in fa-lg fa-icon" style="margin-top: 6px;" aria-hidden="true"></i>
          Register
        </a>
      </li>

      <li ng-show="currentUser && expiredDate">
        <a ng-href="#/expired">
          <i class="fa fa-calendar-times-o fa-lg fa-icon" 
          style="margin-top:7px;margin-right:5px;" aria-hidden="true"></i>
          Expired Meeting!
        <span class="new badge red" data-badge-caption="exp">
          {{expiredDate}}
        </span> 
        </a>
      </li>

      <li ng-show="currentUser && alarm">
        <a ng-href="#/alarm">
          <i class="fa fa-clock-o fa-lg fa-icon" 
          style="margin-top:7px;margin-right:5px;" aria-hidden="true"></i>
          Alarm
          <span class="new badge orange" data-badge-caption="new">
            {{alarm}}
          </span>
          
        </a>
      </li>

      <li ng-show="currentUser">
        <a ng-href="#/meetings">
          <i class="fa fa-users fa-lg fa-icon" 
          style="margin-top:7px;margin-right:5px;" aria-hidden="true"></i>
          Meetings Available
           <span ng-if="howManyMeetings>0" class="new badge blue" data-badge-caption="">
            {{ howManyMeetings }} 
           </span>
        </a>
      </li>

      <li ng-show="currentUser">
        <a class="dropdown-button" href="#!" 
           data-activates="dropdown2">
          <i class="fa fa-unlock fa-lg fa-icon" style="margin-top: 6px;" aria-hidden="true">
          </i>
           Welcome  {{  currentUser.firstname  }}
        </a>
      </li>
    </ul>


  </div>
</nav>