<br>
<div ng-hide="signedIn()" class="center">
  <h3>Sorry</h3>
  <p>Only registered users can create and manage meetings.</p>
  <p>Please <a ng-href="#/register">Register</a> or <a ng-href="#/login">Login</a></p>
</div>

<div ng-show="signedIn()" ng-controller="MeetingsController">

<div class="row">
<form ng-submit="editProfile()" class="col m5 offset-m3 s12">

  <span><h5>Your Profile,</h5></span>
  <span>you can change it now</span>

  <p class="error formerror" ng-show="message">{{ message }}</p>
  
  <div class="row card" style="padding:30px;border:4px solid #fff;background-color:#ecf3f2;color:#05b1c0;">

  <div class="row">
      <div class="input-field col s12">
        <i class="small material-icons prefix">person_pin</i>
        <input name="firstname" id="firstname" type="text" class="validate" 
               required="" 
               aria-required="true" ng-model="user.firstname">
        <label for="" data-error="Please enter first name." data-success="Perfect!">
          First Name
        </label>
      </div>
  </div>

  <div class="row">
      <div class="input-field col s12">
        <i class="small material-icons prefix">person_pin</i>
        <input name="lastname" id="lastname" type="text" class="validate" 
               required="" aria-required="true" ng-model="user.lastname">
        <label for="" data-error="Please enter last name." data-success="Perfect!">
          Last Name
        </label>
      </div>
  </div>

  <div class="row">
      <div class="input-field col s12">
        <i class="small material-icons prefix">verified_user</i>
        <input name="age" id="age_input2" type="number" class="validate" 
               required="" aria-required="true" ng-model="user.age">
        <label for="age_input2" data-error="Please enter your age." data-success="Wow!">  Age
        </label>
      </div>
  </div>
           
<div class="row">
  <div class="input-field col s12 center">
    <button class="waves-effect waves-light Default btn-flat" type="submit" 
            name="action" style="color:#05b1c0">
    	Submit
    </button>
  </div>
</div>

</div>
</form>
</div>



</div> <!-- End Page --> 

