<br>
<div ng-hide="signedIn()" class="center">
  <h3>Sorry</h3>
  <p>Only registered users can create and manage meetings.</p>
  <p>Please <a ng-href="#/register">Register</a> or <a ng-href="#/login">Login</a></p>
</div>

<div ng-show="signedIn()" ng-controller="MeetingsController">

<div>
<h5>Settings</h5>
<p style="margin-top:-10px;color:#999">You've been invited by colleagues</p>


<div class="row">
  <div class="col s12 right">
    <div class="card-panel teal lighten-1" style="border-radius:10px;max-height:20px;">
      <span class="white-text left" style="margin-top:-10px">
        <i class="fa fa-desktop" style="font-size:1.1rem" aria-hidden="true"></i>
        &nbsp&nbsp Theme
      </span>
      <span class="white-text right">
        <form action="#" style="margin-top:-12px">
              <input class="with-gap" name="group1" type="radio" id="test4"  />
              <label for="test4" style="color:#fff;margin-right:5px;">Pink</label>

              <input class="with-gap" name="group1" type="radio" id="test3"  />
              <label for="test3" style="color:#fff;margin-right:5px;">Blue</label>

              <input class="with-gap" name="group1" type="radio" id="test2"  />
              <label for="test2" style="color:#fff;margin-right:5px;">Green</label>

              <input class="with-gap" name="group1" type="radio" id="test1"  />
              <label for="test1" style="color:#fff;margin-right:5px;">Dark</label>
        </form>
      </span>
    </div>
  </div>
</div>

<div class="row" style="margin-top:-30px">
  <div class="col s12 right" style="margin-top:-10px">
    <div class="card-panel teal lighten-1" style="border-radius:10px;max-height:20px;">
      <span class="white-text left" style="margin-top:-10px">
        <i class="fa fa-bell-o" style="font-size:1.1rem" aria-hidden="true"></i>
        &nbsp&nbsp Alarm
      </span>
      <span class="white-text right">
        <form action="#" style="margin-top:-12px">
              <input class="with-gap" name="group1" type="radio" id="test5"  />
              <label for="test5" style="color:#fff;margin-right:5px;">One day</label>

              <input class="with-gap" name="group1" type="radio" id="test6"  />
              <label for="test6" style="color:#fff;margin-right:5px;">Two day</label>

              <input class="with-gap" name="group1" type="radio" id="test7"  />
              <label for="test7" style="color:#fff;margin-right:5px;">Three day</label>

              <input class="with-gap" name="group1" type="radio" id="test8"  />
              <label for="test8" style="color:#fff;margin-right:5px;">Four day</label>
        </form>
      </span>
    </div>
  </div>
</div>

<div class="row" style="margin-top:-30px">
  <div class="col s12 right" style="margin-top:-10px">
    <div class="card-panel teal lighten-1" style="border-radius:10px;max-height:20px;">
      <span class="white-text left" style="margin-top:-10px">
        <i class="fa fa-smile-o" style="font-size:1.2rem" aria-hidden="true"></i>
        &nbsp&nbsp Animation
      </span>
      <span class="white-text right">
        <form action="#" style="margin-top:-12px">
          
          <div class="switch" style="margin-top:2px">
            <label style="color:#fff">
              Off
              <input type="checkbox">
              <span class="lever"></span>
              On
            </label>
          </div>

      </span>
    </div>
  </div>
</div>


</div>
</div> <!-- ng-show="signIn()" -->



