<div  ng-controller="MeetingsController">
<br>
<div ng-hide="signedIn()" class="center">
  <h3>Sorry</h3>
  <p>Only registered users can create and manage meetings.</p>
  <p>Please <a ng-href="#/register">Register</a> or <a ng-href="#/login">Login</a></p>
</div>

<div ng-show="signedIn()">
  
<div ng-hide="cancelShow && howManyCancel" class="center">
  <h3 style="color: #555;">Hi there</h3>
  <p style="color: #777;">You have not any suspension...</p>
</div>


<div ng-show="cancelShow && howManyCancel">


<h5 style="margin-bottom:0px">Suspension</h5>
<span style="color:#646464;font-size:0.9rem;">
	cancellations can be set again
</span>


<suspension-directive 
           datameetings="cancelMeetings"
           page-size="pageSize"
           theme-color="themeColor3"
           firebase-user="firebaseUser">
</suspension-directive>



</div>  
</div>
</div>