<div ng-controller="MeetingsController as vm">

<div>
<ul class="collapsible" data-collapsible="accordion"
style="border-radius: 12px !important;">
    <li>
      <div class="collapsible-header modal-title"
      style="background-color:{{themeColor}}">
        <i class="material-icons">{{ vm.meetingAction }}</i>
        {{ vm.nameAction }}
      </div>
      <div class="collapsible-body modal-background"
         style="border-radius: 12px !important;">
        <div class="row modal-form">
        <form ng-submit="vm.addMeeting()" id="meetingform" class="col s12">
          <div class="row">
            <div class="input-field col s6">
                <i class="small material-icons prefix">supervisor_account</i>
                <input name="name" id="name" type="text" class="validate"
                       required="" aria-required="true" ng-model="vm.meeting.name"  length="25">
                <label class="modal-label" for="name" data-error="oops! too much words">
                  Meeting
                </label>
            </div>
            <div class="input-field col s6">
                <i class="small material-icons prefix">comment</i>
                <input name="description" id="description" type="text" class="validate"
                       required="" aria-required="true" ng-model="vm.meeting.description" length="150">
                <label class="modal-label" for="description" data-error="oops! too much words">
                  Description
                </label>
            </div>
            <div class="input-field col s6">
              <i class="small material-icons prefix">today</i>
              <input type="date" id="date" class="datepicker" placeholder="Date"
                     name="date" ng-model="vm.meeting.date">

            </div>
            <div class="input-field col s6">
                <i class="small material-icons prefix">av_timer</i>
                <input id="timepicker_ampm_dark" class="timepicker" type="time" name="time"
                       ng-model="vm.meeting.time" placeholder="Time">
            </div>
            <div>
                <a class="waves-effect Default btn-flat right" ng-click="vm.clearButton()"
                   id="clearButton" data-click=".collapsible .collapsible-header:first">
                  Cancel
                </a>
                <button class="waves-effect Default btn-flat right" type="submit"
                        data-click=".collapsible .collapsible-header:first">
                  Add
                </button>
        </div>
        </div>
        </form>
      </div>
      </div>
    </li>
</ul>
</div>

<div class="center" ng-hide="vm.meetingsInfo">
  <p><h6 style="color:#777"><br><br>
    You have nothing now, click add new meeting...
  </h6></p>
</div>

<div ng-show="vm.meetingsInfo">
<table class="bordered highlight card" style="margin-top:-8px">
  <thead style="line-height: 10px">
    <tr class="meeting-data-table meeting-table-title">
      <th class="meeting-data-table">#</th>
      <th>
        <a href="" ng-click="sort('name')">Meeting
        <i ng-show="sort.field !== 'name'"
           class="fa fa-chevron-down"
           aria-hidden="true" style="color:#999"></i>
        <i ng-show="sort.field === 'name' && !sort.order"
           class="fa fa-chevron-down animated rotateIn delayAnimate"
           aria-hidden="true" style="color:#d81b60"></i>
        <i ng-show="sort.field === 'name' && sort.order"
           class="fa fa-chevron-up animated rotateIn delayAnimate"
           aria-hidden="true" style="color:#d81b60"></i> </a>
      </th>

      <th>
        <a href="" ng-click="sort('description')">Description
        <i ng-show="sort.field !== 'description'"
           class="fa fa-chevron-down"
           aria-hidden="true" style="color:#999"></i>
        <i ng-show="sort.field === 'description' && !sort.order"
           class="fa fa-chevron-down animated rotateIn delayAnimate"
           aria-hidden="true" style="color:#d81b60"></i>
        <i ng-show="sort.field === 'description' && sort.order"
           class="fa fa-chevron-up animated rotateIn delayAnimate"
           aria-hidden="true" style="color:#d81b60"></i> </a>
      </th>
      <th>
        <a href="" ng-click="sort('date')">Date
        <i ng-show="sort.field !== 'date'"
           class="fa fa-chevron-down"
           aria-hidden="true" style="color:#999"></i>
        <i ng-show="sort.field === 'date' && !sort.order"
           class="fa fa-chevron-down animated rotateIn delayAnimate"
           aria-hidden="true" style="color:#d81b60"></i>
        <i ng-show="sort.field === 'date' && sort.order"
           class="fa fa-chevron-up animated rotateIn delayAnimate"
           aria-hidden="true" style="color:#d81b60"></i> </a>
      </th>
      <th>
        Time
      </th>
      <th>
        Remain Day
      </th>
      <th style="padding-left:50px">Actions</th>
    </tr>
  </thead>



  <tbody>

    <tr ng-repeat="(key, meeting) in datameetings | filter:query | orderBy: sort.field: sort.order | range:selectedPage:pageSize"
        style="border-color: #e4e4e4" class="delayAnimate">
      <td class="meeting-data-table">
        <b>{{ ($index + 1) + (pageSize * (selectedPage - 1)) }}</b>
      </td>
      <td style="color: {{meeting.textColor}};" class="meeting-data-table">
        {{ meeting.name | ShortName:15 }}
      </td>
      <td style="color: {{meeting.textColor}};" class="meeting-data-table">
        {{ meeting.description | ShortName:15 }}
      </td>
      <td style="color: {{meeting.textColor}};" class="meeting-data-table"
          ng-show="meeting.dateMeeting">
        {{ meeting.dateMeeting | date }}
      </td>
      <td style="color: #{{meeting.dayColor}};" class="meeting-data-table"
          ng-hide="meeting.dateMeeting">
        not set
      </td>
      <td style="color: {{meeting.textColor}};" class="meeting-data-table"
          ng-show="meeting.time">
        {{ meeting.time | limitTo:5 }}
      </td>
      <td style="color: #{{meeting.dayColor}};" class="meeting-data-table"
          ng-hide="meeting.time">
        not set
      </td>
      <td class="meeting-data-table" style="color: #{{meeting.textColor}};"
          ng-show="meeting.remainDay">
        {{ meeting.remainDay }} {{ meeting.diffDays }}
      </td>
      <td class="meeting-data-table" style="color: #{{meeting.dayColor}};"
          ng-hide="meeting.remainDay">
        not set
      </td>
      <td class="right meeting-data-table" style="width:20px">

       <!--  <a href="" id="editLink"
           ng-click="pauseMeetingDialog($event, meeting, themeColor)"
           class="md-primary md-raised" ng-hide="meeting.invitation">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#eaa8be;margin-top:-7px;"></i>
            <i class="fa fa-pause fa-stack-1x"
               style="font-size:12px;color:#d44977;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              SUSPENSION
            </md-tooltip>
          </span>
        </a>

        <a ng-show="meeting.invitation">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#f3f3f3;margin-top:-7px;"></i>
            <i class="fa fa-pause fa-stack-1x"
               style="font-size:12px;color:#e5e5e5;margin-top:-7px;"></i>
          </span>
        </a>

        <a href="" id="editLink" ng-click="showMeetDetails($event, key, meeting)"
           class="md-primary md-raised" style="margin-left:-3px"
           ng-hide="meeting.change">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#ffe5a0;margin-top:-7px;"></i>
            <i class="fa fa-bars fa-stack-1x"
               style="font-size:16px;color:#e9a144;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              VIEW DETAILS
            </md-tooltip>
          </span>
        </a>

        <a href="" id="editLink" ng-click="showMeetDetails($event, key, meeting)"
           class="md-primary md-raised" style="margin-left:-3px"
           ng-show="meeting.change">
          <span class="fa-stack fa-lg"
                ng-show="animeAction">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#ffe5a0;margin-top:-7px;"></i>
            <i class="fa fa-exclamation fa-stack-1x animated infinite rubberBand delayAnimate"
               style="font-size:16px;color:#e9a144;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              MEETING HAS BEEN CHANGED
            </md-tooltip>
          </span>
          <span class="fa-stack fa-lg" ng-hide="animeAction">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#ffe5a0;margin-top:-7px;"></i>
            <i class="fa fa-exclamation fa-stack-1x"
               style="font-size:16px;color:#e9a144;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              MEETING HAS BEEN CHANGED
            </md-tooltip>
          </span>
        </a>

        <a href="" ng-hide="meeting.invitation" id="editLink"
           ng-click="getEdit(meeting.$id)" style="margin-left:-3px"
           data-click=".collapsible .collapsible-header:first">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#c7ebb7;margin-top:-7px;"></i>
            <i class="fa fa-pencil fa-stack-1x"
               style="font-size:18px;color:#65b13b;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              EDIT
            </md-tooltip>
          </span>
        </a>

        <a ng-href="#/checkins/{{firebaseUser}}/{{meeting.$id}}/{{meeting.dayColor}}"
           id="editLink" ng-hide="meeting.invitation" style="margin-left:-3px"
           data-click=".collapsible .collapsible-header:first">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#bcebf8;margin-top:-7px;"></i>
            <i class="fa fa-check fa-stack-1x"
               style="font-size:18px;color:#19a7ce;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              CHECKINS & INVITEES
            </md-tooltip>
          </span>
        </a>

        <a ng-show="meeting.invitation" style="margin-left:-3px">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#f3f3f3;margin-top:-7px;"></i>
            <i class="fa fa-pencil fa-stack-1x"
               style="font-size:18px;color:#e5e5e5;margin-top:-7px;"></i>
          </span>
        </a>

        <a ng-show="meeting.invitation" style="margin-left:-3px">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#f3f3f3;margin-top:-7px;"></i>
            <i class="fa fa-check fa-stack-1x"
               style="font-size:18px;color:#e5e5e5;margin-top:-7px;"></i>
          </span>
        </a>

        <span ng-show="meeting.checkins">
        <a class="fontawesome-color" href="" style="margin-left:-3px"
           ng-click="deleteMeetingDialog($event, meeting)"
           ng-hide="meeting.invitation">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#eaa8be;margin-top:-7px;"></i>
            <i class="fa fa-trash-o fa-stack-1x"
               style="font-size:20px;color:#d44977;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              DELETE
            </md-tooltip>
          </span>
        </a>
        </span>

        <span ng-hide="meeting.checkins">
        <a class="fontawesome-color" href="" style="margin-left:-3px"
           ng-click="deleteMeeting($event, meeting)"
           ng-hide="meeting.invitation">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#eaa8be;margin-top:-7px;"></i>
            <i class="fa fa-trash-o fa-stack-1x"
               style="font-size:20px;color:#d44977;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              DELETE
            </md-tooltip>
          </span>
        </a>
        </span>

        <a class="fontawesome-color" href="" style="margin-left:-3px"
           ng-click="rejectMeeting($event, meeting, themeColor)"
           ng-show="meeting.invitation">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"
               style="color:#eaa8be;margin-top:-7px;"></i>
            <i class="fa fa-trash-o fa-stack-1x"
               style="font-size:20px;color:#d44977;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              REJECT MEETING
            </md-tooltip>
          </span>
        </a> -->
        <md-fab-speed-dial md-direction="left" class="md-scale"
            style="margin-top:-15px;margin-left:-245px">
            <md-fab-trigger>
              <md-button aria-label="menu" class="md-fab md-warn md-hover-full">
                <span class="fa-stack fa-lg" style="margin-left:-3px;">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:34px;color:#fff;margin-top:-1px;margin-left:-6"></i>
                    <i class="fa fa-bars fa-stack-1x"
                       style="font-size:14px;color:#7c7c7c;margin-top:-2px;margin-left:-6"></i>
                </span>
              </md-button>
            </md-fab-trigger>
            <md-fab-actions>

              <md-button aria-label="twitter" class="md-fab md-raised md-mini"
                  style="margin-right:-5px">
                <a href="" id="editLink" style="margin-left:0px;"
                   ng-click="vm.pauseMeetingDialog($event, meeting, themeColor)"
                   class="md-primary md-raised" ng-hide="meeting.invitation">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:36px;color:#eaa8be;margin-top:-3px;margin-left:-9"></i>
                    <i class="fa fa-pause fa-stack-1x"
                       style="font-size:12px;color:#d44977;margin-top:-3px;margin-left:-9"></i>
                    <md-tooltip md-direction="top">
                      SUSPENSION
                    </md-tooltip>
                  </span>
                </a>

                <a ng-show="meeting.invitation" style="margin-left:1px;">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:36px;color:#f3f3f3;margin-top:-3px;margin-left:-9"></i>
                    <i class="fa fa-pause fa-stack-1x"
                       style="font-size:12px;color:#e5e5e5;margin-top:-3px;margin-left:-9"></i>
                  </span>
                </a>
              </md-button>

              <md-button aria-label="twitter" class="md-fab md-raised md-mini"
                 style="margin-right:-5px">
                <a href="" id="editLink" ng-click="vm.showMeetDetails($event, key, meeting)"
                   class="md-primary md-raised" style="margin-left:-2px;"
                   ng-hide="meeting.change">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#ffe5a0;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-bars fa-stack-1x"
                       style="font-size:15px;color:#e9a144;margin-top:-3px;margin-left:-6"></i>
                    <md-tooltip md-direction="top">
                      VIEW DETAILS
                    </md-tooltip>
                  </span>
                </a>

                <a href="" id="editLink" ng-click="vm.showMeetDetails($event, key, meeting)"
                   class="md-primary md-raised" style="margin-left:-3px"
                   ng-show="meeting.change">
                  <span class="fa-stack fa-lg"
                        ng-show="animeAction">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:36px;color:#ffe5a0;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-exclamation fa-stack-1x animated infinite rubberBand delayAnimate"
                       style="font-size:16px;color:#e9a144;margin-top:-2px;margin-left:-6"></i>
                    <md-tooltip md-direction="top">
                      MEETING HAS BEEN CHANGED
                    </md-tooltip>
                  </span>
                  <span class="fa-stack fa-lg" ng-hide="animeAction">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:36px;color:#ffe5a0;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-exclamation fa-stack-1x"
                       style="font-size:16px;color:#e9a144;margin-top:-2px;margin-left:-6"></i>
                    <md-tooltip md-direction="top">
                      MEETING HAS BEEN CHANGED
                    </md-tooltip>
                  </span>
                </a>
              </md-button>

              <md-button aria-label="twitter" class="md-fab md-raised md-mini"
                  style="margin-right:-5px">
                <a href="" ng-hide="meeting.invitation" id="editLink"
                   ng-click="vm.getEdit(meeting.$id)" style="margin-left:-2px"
                   data-click=".collapsible .collapsible-header:first">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#c7ebb7;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-pencil fa-stack-1x"
                       style="font-size:18px;color:#65b13b;margin-top:-2px;margin-left:-6"></i>
                    <md-tooltip md-direction="top">
                      EDIT
                    </md-tooltip>
                  </span>
                </a>

                <a ng-show="meeting.invitation" style="margin-left:-2px">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#f3f3f3;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-pencil fa-stack-1x"
                       style="font-size:18px;color:#e5e5e5;margin-top:-2px;margin-left:-6"></i>
                  </span>
                </a>
              </md-button>

              <md-button aria-label="twitter" class="md-fab md-raised md-mini"
                  style="margin-right:-5px">
                <a ng-href="#/checkins/{{vm.firebaseUser}}/{{meeting.$id}}/{{meeting.dayColor}}"
                   id="editLink" ng-hide="meeting.invitation" style="margin-left:-2px"
                   data-click=".collapsible .collapsible-header:first">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#bcebf8;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-check fa-stack-1x"
                       style="font-size:18px;color:#19a7ce;margin-top:-2px;margin-left:-6"></i>
                    <md-tooltip md-direction="top">
                      CHECKINS & INVITEES
                    </md-tooltip>
                  </span>
                </a>

                <a ng-show="meeting.invitation" style="margin-left:-2px">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#f3f3f3;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-check fa-stack-1x"
                       style="font-size:18px;color:#e5e5e5;margin-top:-2px;margin-left:-6"></i>
                  </span>
                </a>
              </md-button>

              <md-button aria-label="twitter" class="md-fab md-raised md-mini"
                  style="margin-right:-5px">
                <span ng-show="meeting.checkins">
                <a class="fontawesome-color" href="" style="margin-left:-3px"
                   ng-click="vm.deleteMeetingDialog($event, meeting)"
                   ng-hide="meeting.invitation">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#eaa8be;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-trash-o fa-stack-1x"
                       style="font-size:20px;color:#d44977;margin-top:-2px;margin-left:-6"></i>
                    <md-tooltip md-direction="top">
                      DELETE
                    </md-tooltip>
                  </span>
                </a>
                </span>

                <span ng-hide="meeting.checkins">
                <a class="fontawesome-color" href="" style="margin-left:-3px"
                   ng-click="vm.deleteMeeting($event, meeting)"
                   ng-hide="meeting.invitation">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#eaa8be;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-trash-o fa-stack-1x"
                       style="font-size:20px;color:#d44977;margin-top:-2px;margin-left:-6"></i>
                    <md-tooltip md-direction="top">
                      DELETE
                    </md-tooltip>
                  </span>
                </a>
                </span>

                <a class="fontawesome-color" href="" style="margin-left:-3px"
                   ng-click="vm.rejectMeeting($event, meeting, themeColor)"
                   ng-show="meeting.invitation">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#eaa8be;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-trash-o fa-stack-1x"
                       style="font-size:20px;color:#d44977;margin-top:-2px;margin-left:-6"></i>
                    <md-tooltip md-direction="top">
                      REJECT MEETING
                    </md-tooltip>
                  </span>
                </a>

                <a class="fontawesome-color" href="" style="margin-left:-2px"
                   ng-click="vm.rejectMeeting($event, meeting, themeColor)"
                   ng-show="meeting.invitation">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#eaa8be;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-trash-o fa-stack-1x"
                       style="font-size:20px;color:#d44977;margin-top:-2px;margin-left:-6"></i>
                    <md-tooltip md-direction="top">
                      REJECT MEETING
                    </md-tooltip>
                  </span>
                </a>
              </md-button>

              <md-button aria-label="twitter" class="md-fab md-raised md-mini"
                  style="margin-right:-5px">
                <a ng-hide="meeting.invitation" id="editLink"
                   ng-href="#/record/{{vm.firebaseUser}}/{{meeting.$id}}"
                   style="margin-left:-2px"
                   data-click=".collapsible .collapsible-header:first">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#c7ebb7;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-archive fa-stack-1x"
                       style="font-size:18px;color:#65b13b;margin-top:-1px;margin-left:-6"></i>
                    <md-tooltip md-direction="top">
                      RECORD
                    </md-tooltip>
                  </span>
                </a>

                <a ng-show="meeting.invitation" style="margin-left:-2px">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"
                       style="font-size:35px;color:#f3f3f3;margin-top:-2px;margin-left:-6"></i>
                    <i class="fa fa-archive fa-stack-1x"
                       style="font-size:18px;color:#e5e5e5;margin-top:-1px;margin-left:-6"></i>
                  </span>
                </a>
              </md-button>

            </md-fab-actions>
          </md-fab-speed-dial>

        </td>
    </tr>
  </tbody>
</table>


<div class="row">
    <div class="col s7">
          <ul class="pagination right">
            <li class="{{activationPre}}" ng-click="selectPrePage()">
              <a href="">
                <i class="material-icons">chevron_left</i>
              </a>
            </li>
            <li ng-repeat="page in datameetings | filter:query | pageCount:pageSize"
                ng-click="selectPage($index + 1)" class="waves-effect"
                ng-class="getPageClass($index + 1)" style="font-size:12px;">
                <a href="">{{$index+1}}</a>
            </li>
            <li class="{{activationNext}}" ng-click="selectNextPage()">
              <a href="">
                <i class="material-icons">chevron_right</i>
              </a>
            </li>
          </ul>
    </div>
    <div class="col s5" layout="row" style="margin-top:15px;font-size:0.9em!important">
        <a class='dropdown-button-directive' href='javascript:void(0);'
           data-activates='dropdownDirective' dropdown
           style="color:#5a5a5a">
              rows:
              &nbsp&nbsp&nbsp  {{pageSize}}
              <i class="fa fa-angle-up fa-icon-right" aria-hidden="true"
              style="margin-left:-10px;"></i>
        </a>
    </div>
</div>

<ul id='dropdownDirective' class='dropdown-content'>
    <li><a href="javascript:void(0);" ng-click="selectRowNum(5)"
      style="font-size:0.85rem!important;">5</a></li>
    <li><a href="javascript:void(0);" ng-click="selectRowNum(10)"
      style="font-size:0.85rem!important;">10</a></li>
    <li><a href="javascript:void(0);" ng-click="selectRowNum(15)"
      style="font-size:0.85rem!important;">15</a></li>
</ul>

</div>
</div>

<script type="text/javascript">
  (function($) {
        $('.dropdown-button-directive').dropdown({
              inDuration: 300,
              outDuration: 300,
              hover: false, // Activate on hover
              belowOrigin: false, // Displays dropdown below the button
              alignment: 'left', // Displays dropdown with edge aligned to the left of button
              gutter: 0,
            });

  })(jQuery); // End of jQuery name space
</script>
