<div ng-controller="InvitationsController as vm" style="margin-top:-12px">
<div class="col s12">
  <div class="card horizontal">
    <div class="card-stacked">

      <div class="card-content">
        <div style="margin-top:-5px">
          <b>Title</b>
        </div>
        <b class="right" style="color:#{{whichcolor}};margin-top:-20px">
          <div style="margin-top:2px;">
          <i class="fa fa-check animated bounce delayAnimate"
             aria-hidden="true"></i>
          </div>
          <div style="margin-top:-17px;margin-left:12px">
            &nbsp&nbsp date
          </div>
        </b>
      </div>
      <div class="card-action center" ng-show="isThereOne">
        <p class="center" style="color:#b5b5b5;font-size:1.1em">
          You still have not received an invitation...
        </p>
      </div>
      <div class="card-action" style="color: #6d6d6d">

        <ul class="invitelist cf" style="margin-left:5px;">
          <li ng-repeat="invitation in invitationsList | filter:query | orderBy: sort.field: sort.order | range:selectedPage:pageSize"
              class="delayAnimate">
            <div class="checkin">

                <div class="col s12 m7">
                  <div class="card horizontal card">
                    <div class="card-image">
                      <a href="">
                            <span>
                             <img src="images/personal_pics/{{invitation.imageCaller}}.jpg"
                             style="border-top-left-radius:12px;border-bottom-left-radius:12px;width:80px;max-width:80px;border: 1px solid #b6b6b6">
                              <md-tooltip md-direction="top" style="font-size:0.9rem">
                                {{invitation.firstnameCaller}}
                                {{invitation.lastnameCaller}}
                              </md-tooltip>
                            </span>
                        </a>
                    </div>
                    <div class="card-stacked"
                         style="font-size:0.85rem;margin-top:-10px;margin-left:-8px">
                      <div class="card-content">
                        <span ng-show="invitation.pause" style="color:#d44977">
                          <b>This invitation is suspended for now</b><br>
                        </span>
                        <b>Meeting Name: </b>
                        <span>{{invitation.name}}</span>

                        <div><b>Description: </b>
                          <span>{{invitation.description}}</span>
                        </div>
                        <div class="date" style="color:#0e8dcf">
                          <i class="fa fa-calendar-o" aria-hidden="true"></i>
                          <b>Date: </b> {{invitation.dateMeeting | date}}  &nbsp&nbsp
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                          <b>Time: </b> {{invitation.time | limitTo:5 }}
                        </div>

                      </div>

                      <div class="card-action col s12" style="margin-top:-22px">

                        <div class="left-align col s1" style="margin-top:3px;">
                          <span class="fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"
                               style="color:#bcebf8;margin-top:1px;margin-left:15px"></i>
                            <span style="font-size:16px;color:#19a7ce;margin-left:23px;">
                              {{ ($index + 1) + (pageSize * (selectedPage - 1)) }}
                            </span>
                          </span>
                        </div>

                        <div class="right-align col s11" style="margin-top:-30px">

                          <a class="fontawesome-color" href="" style="margin-right:-5px"
                             ng-click="vm.suspentionDialog($event, invitation, themeColor)"
                             ng-show="invitation.pause">
                              <span class="fa-stack fa-lg" style="margin-top:2px">
                                <i class="fa fa-square-o fa-stack-2x"
                                   style="color:#eaa8be;"></i>
                                <i class="fa fa-pause fa-stack-1x"
                                   style="font-size:12px;color:#d44977;margin-top:-1px"></i>
                                <md-tooltip md-direction="top">
                                  SUSPENDED
                                </md-tooltip>
                              </span>
                          </a>

                          <a class="fontawesome-color" href="" style="margin-right:-5px"
                               ng-click="vm.rejectInvitation($event, invitation, themeColor)">
                              <span class="fa-stack fa-lg" style="margin-top:2px">
                                <i class="fa fa-square-o fa-stack-2x"
                                   style="color:#eaa8be;"></i>
                                <i class="fa fa-times fa-stack-1x"
                                   style="font-size:20px;color:#d44977;margin-top:-2px"></i>
                                <md-tooltip md-direction="top">
                                  REJECT INVITATION
                                </md-tooltip>
                              </span>
                          </a>

                          <a href="" id="editLink" style="margin-right:10px"
                             ng-click="vm.acceptInvitation($event, invitation)"
                             ng-hide="{{checked.send}}">
                              <span class="fa-stack fa-lg" style="margin-top:2px">
                                <i class="fa fa-square-o fa-stack-2x"
                                   style="color:#c7ebb7;"></i>
                                <i class="fa fa-check fa-stack-1x"
                                   style="font-size:18px;color:#65b13b;margin-top:0px;"></i>
                                <md-tooltip md-direction="top">
                                  ACCEPT INVITATION
                                </md-tooltip>
                              </span>
                          </a>
                        </div>

                      </div>
                    </div>

                    <div class="outer" style="margin-right:-1px" ng-hide="invitation.pause">
                      <div class="inner"
                        style="background: #70b1ab;box-shadow: 0px 0px 30px 20px #70b1ab;">
                       </div>
                    </div>

                    <div class="outer" style="margin-right:-1px" ng-show="invitation.pause">
                      <div class="inner"
                        style="background: #ec236a;box-shadow: 0px 0px 30px 20px #ec236a;">
                       </div>
                    </div>

                  </div>
                </div>

            </div>


          </li>
        </ul>
      </div>

      <div ng-show="sendAllInvitationsButton" class="card-action right-align"
           style="margin-right:-45px">
        <a class="waves-effect btn-flat" style="color:#0889af"
           ng-click="sendAllInvitations($event)">
          <i class="material-icons left">email</i>
          Send All Invitations
        </a>
        <a href=""></a>
        <a href=""></a>
      </div>

    </form>
    </div>
  </div>
</div>


<div class="row">
    <div class="col s7">
          <ul class="pagination right">
            <li class="{{activationPre}}" ng-click="selectPrePage()">
              <a href="">
                <i class="material-icons">chevron_left</i>
              </a>
            </li>
            <li ng-repeat="page in invitationsList | filter:query | pageCount:pageSize"
                ng-click="selectPage($index + 1)" class="waves-effect"
                ng-class="getPageClass($index + 1)" style="font-size:12px;">
                <a href="">{{$index+1}}</a>
            </li>
            <li class="{{activationNext}}" ng-click="selectNextPage()">
              <a href="">
                <i class="material-icons">chevron_right</i>
              </a>
            </li>
          </ul>
    </div>
    <div class="col s5" layout="row" style="margin-top:15px;font-size:0.9em!important">
        <a class='dropdown-button-directive'
           data-activates='dropdownDirective' dropdown
           style="color:#5a5a5a" href="">
              rows: {{pageSize}} &nbsp
              <i class="fa fa-angle-up fa-icon-right" aria-hidden="true"
              style="margin-left:-10px;"></i>
        </a>
    </div>
</div>

<div class="form-group">
<ul id='dropdownDirective' class='dropdown-content' style="">
    <li><a ng-click="selectRowNum(3)"
      style="font-size:0.85rem!important;">3</a></li>
    <li><a ng-click="selectRowNum(5)"
      style="font-size:0.85rem!important;">5</a></li>
    <li><a ng-click="selectRowNum(7)"
      style="font-size:0.85rem!important;">7</a></li>
</ul>
</div>

</div>



<script type="text/javascript">
  (function($) {
      $(".dropdown-button").dropdown();
      $('.dropdown-button-directive').dropdown({
            inDuration: 300,
            outDuration: 300,
            hover: false, // Activate on hover
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left', // Displays dropdown with edge aligned to the left of button
            gutter: 0,
          });
      $('.modal').modal();
      $('.tooltipped').tooltip({delay: 50});

  })(jQuery); // End of jQuery name space
</script>
