<div ng-controller="ArchiveDetailsController">
<table class="bordered highlight card" style="margin-top:-8px">
  <thead style="line-height: 10px">
    <tr class="meeting-data-table meeting-table-title">
      <th class="meeting-data-table">#</th>
      <th>
        <a href="" ng-click="sort('description')">Description Act 
        <i ng-show="sort.field !== 'description'" 
           class="fa fa-chevron-down" 
           aria-hidden="true" style="color:#999"></i>
        <i ng-show="sort.field === 'description' && !sort.order" 
           class="fa fa-chevron-down animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> 
        <i ng-show="sort.field === 'description' && sort.order" 
           class="fa fa-chevron-up animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> </a>
      </th>
      
      <th>
        <a href="" ng-click="sort('responsible')">Responsible 
        <i ng-show="sort.field !== 'responsible'" 
           class="fa fa-chevron-down" 
           aria-hidden="true" style="color:#999"></i>
        <i ng-show="sort.field === 'responsible' && !sort.order" 
           class="fa fa-chevron-down animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> 
        <i ng-show="sort.field === 'responsible' && sort.order" 
           class="fa fa-chevron-up animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> </a> 
      </th>
      <th>
        <a href="" ng-click="sort('follow')"> Follow
        <i ng-show="sort.field !== 'follow'" 
           class="fa fa-chevron-down" 
           aria-hidden="true" style="color:#999"></i> 
        <i ng-show="sort.field === 'follow' && !sort.order" 
           class="fa fa-chevron-down animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> 
        <i ng-show="sort.field === 'follow' && sort.order"
           class="fa fa-chevron-up animated rotateIn delayAnimate" 
           aria-hidden="true" style="color:#d81b60"></i> </a>
      </th>
      <th>
        Respite 
      </th>
      <th class="right-align" style="padding-right:50px">
      	
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="(key, record) in directiveListRecord | filter:query | orderBy: sort.field: sort.order | range:selectedPage:pageSize" 
        style="border-color: #e4e4e4" class="delayAnimate">

      <td class="meeting-data-table">
        <b>{{ ($index + 1) + (pageSize * (selectedPage - 1)) }}</b>
      </td>
      <td class="meeting-data-table">
        {{ record.description | ShortName:15 }}
      </td>
      <td class="meeting-data-table">
        {{ record.responsible | ShortName:15 }}
      </td>
      <td class="meeting-data-table">
        {{ record.follow | ShortName:15 }}
      </td>
      <td class="meeting-data-table">
        {{ record.respite | date }}
      </td>

      <td class="right meeting-data-table" style="margin-top:-3px">

        <a href="" id="editLink" ng-click="showDirectiveDetails($event, record)"
           class="md-primary md-raised">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x" 
               style="color:#ffe5a0;margin-top:-7px;"></i>
            <i class="fa fa-bars fa-stack-1x" 
               style="font-size:16px;color:#e9a144;margin-top:-7px;"></i>
            <md-tooltip md-direction="top">
              VIEW DETAILS
            </md-tooltip>
          </span>
        </a>

      </td>
    </tr>
  </tbody>
</table>

<div class="row" style="margin-top:-20px;"> 
    <div class="col s6">
          <ul class="pagination right">
            <li class="{{activationPre}}" ng-click="selectPrePage()">
              <a href="">
                <i class="material-icons">chevron_left</i>
              </a>
            </li>
            <li ng-repeat="page in directiveListRecord | filter:query | pageCount:pageSize"
                ng-click="selectPage($index + 1)" class="waves-effect"
                ng-class="getPageClass($index + 1)" style="font-size:12px;">
                <a href="">{{$index+1}}</a>
            </li>
            <li class="{{activationNext}}" ng-click="selectNextPage()">
              <a href="">
                <i class="material-icons">chevron_right</i>
              </a>
            </li>
          </ul> 
    </div>
    <div class="col s6" layout="row" style="margin-top:15px;font-size:0.9em!important">
        <a class='dropdown-button-directive' href='javascript:void(0);' 
           data-activates='dropdownDirective' dropdown 
           style="color:#5a5a5a">
              rows:  
              &nbsp&nbsp&nbsp  {{pageSize}}
              <i class="fa fa-angle-up fa-icon-right" aria-hidden="true" 
              style="margin-left:-10px;"></i>
        </a>
    </div>
</div>

<ul id='dropdownDirective' class='dropdown-content'
    style="margin-bottom:-15px">
    <li><a href="javascript:void(0);" ng-click="selectRowNum(5)" 
      style="font-size:0.85rem!important;">5</a></li>
    <li><a href="javascript:void(0);" ng-click="selectRowNum(10)" 
      style="font-size:0.85rem!important;">10</a></li>
    <li><a href="javascript:void(0);" ng-click="selectRowNum(15)" 
      style="font-size:0.85rem!important;">15</a></li>
</ul>


</div>


<script type="text/javascript">

  $(document).ready(function() {
    $('textarea#textarea1').characterCounter();
  });

  (function($) {
        $('.modal').modal();
        $('.dropdown-button-directive').dropdown({
              inDuration: 300,
              outDuration: 300,
              hover: false, // Activate on hover
              belowOrigin: false, // Displays dropdown below the button
              alignment: 'left', // Displays dropdown with edge aligned to the left of button
              gutter: 0,
            });
      
  })(jQuery); // End of jQuery name space
</script>
